{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Contact | {{ shop_name }}{% endblock %}
{% block content %}
    <main id="mt-main">
    <!-- Mt Content Banner of the Page -->
        <section class="wow slideInUp" data-wow-delay="0.4s">
            <img style="width:100%" src="{% static "markatix/images/new/product/01.jpg"%}">
        </section>
    <!-- Mt Content Banner of the Page end -->
    <!-- Mt About Section of the Page -->
        <section class="terms wow slideInUp" data-wow-delay="0.4s">
            <div class="container">
                <div class="row">
                    <h4 class="text-center heading">CONTACT US</h4>
                    <div class="col-sm-12 equalh">
                        <div class="col-sm-4">
                            <img src="{% static "markatix/images/new/contact/contact.jpg"%}">
                        </div>
                        <div class="col-sm-8 pos">
                            <h2 class="sub-heading"><i>Stores</i></h2>
                            <div class="address-block">
                                <h4 class="state">DELHI STORE</h4>
                                <p class="address">D7 Defence Colony,New Delhi-110024</p>
                                T:<a class="tel" href="tel:01141009143"> +91 11 4100 9143</a><br>
                                M:<a class="tel" href="tel:09560467124"> +91 95604 67124</a>
                            </div>
                            <div class="address-block">
                                <h4 class="state">AHMEDABAD STORE</h4>
                                <p class="address">Ground floor, Armieda building Pakvan-Sindhu Bhavan road,<br>Bodakdev, Ahmedabad - 380059</p>
                                T:<a class="tel" href="tel:07940454765"> +917940454765</a><br>

                            </div>
                            <div class="address-block">
                                <h4 class="state">HYDERABAD STORE</h4>
                                <p class="address">Plot No: 8-2-601/P/15,Banjara Hills Road No:10,<br>Hyderabad,500034</p>
                            </div>
                            <div class="address-block">
                                <a class="email" href="mailto:info@ekaya.in">info@ekaya.in</a>
                            </div>
                            <div class="col-md-12 inner-pos">
                                <div class="row">
                                    <ul class="social">
                                        <li><a href="https://www.instagram.com/ekayabanaras/" class="rss" title="Rss"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://www.facebook.com/ekayabanaras/" class="face" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://twitter.com/ekayabanaras?lang=en" class="twit" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.youtube.com/user/Ekaya2012" class="google" title="Google +"><i class="fa fa-youtube"></i></a></li>
                                        <li><a href="https://in.pinterest.com/ekayabanaras/pins/" class="linkedin" title="Linkedin"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}









