{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Privacy | {{ shop_name }}{% endblock %}
{% block content %}
    <main id="mt-main">
    <!-- Mt Content Banner of the Page -->
        <section class="wow slideInUp" data-wow-delay="0.4s">
            <img style="width:100%" src="{% static "markatix/images/new/about/01.jpeg"%}">
        </section>
    <!-- Mt Content Banner of the Page end -->
    <!-- Mt About Section of the Page -->
        <section class="terms wow slideInUp" data-wow-delay="0.4s">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h3 style="color: #7B674f;text-align: center">RETURNS AND POLICY</h3>
                        <br>
                        <h4><strong>Returns and Exchanges</strong></h4>
                        <p>
                            To return an item, the customer must write to us at info@ekaya.in, a prompt response is
                            assured to such mails. If you are not satisfied with the product received by you for any
                            reason you may have the option to exchange and at our sole discretion to receive a
                            refund. We are not liable for any damages caused to the Product during transit.
                            Ekaya will be taking the responsibility for the costs of returning the goods. Once you
                            communicate your desire for a return/exchange we will be emailing you the return notes
                            and labels.
                        </p>
                        <p>
                            Our delivery representatives from your country will come to pick up the goods along with
                            the papers we will send via email once a return request is made, we insist you keep the
                            items properly packed for the pickup. In the rare instance that we’re unable to send a
                            representative to your assigned address, you may have to drop the package to a local post
                            office.
                        </p>
                        <p>
                            Please follow our return guidelines, Ekaya cannot be held liable for the loss of garments
                            being returned independently, we recommend that you use our registered shipping method
                            so that the order can be tracked.
                        </p>
                        <p>
                            Our terms and conditions pertaining to returns and exchange is as follows:-
                        </p>

                        <h4><strong>Product Conditions</strong></h4>
                        <p>
                            All items must be returned new, unused and with all tags still attached. Returns that do
                            not meet our policy will not be accepted and sent back to the customer.
                            Returns that are damaged or soiled may not be accepted and may be sent back to the
                            customer. Please inform our customer care department in the event any Goods/Products
                            are delivered without tags.
                        </p>

                        <h4><strong>Faulty goods</strong></h4>
                        <p>
                            Goods are classified as faulty if they are received damaged, or where a manufacturing
                            fault occurs within one month of purchase. Items that are damaged as a result of normal
                            wear and tear are not considered to be faulty.
                            If your item is faulty when you receive it, you can return it for a refund. Simply request a
                            return by emailing us at info@ekaya.in.
                        </p>
                        <h4><strong>Receiving a Refund</strong></h4>
                        <p>
                            Your refund will be credited to the original payment account. Customs duties and sales
                            taxes are non-refundable through Ekaya.in.
                            Please note that refunds can take up to 10 working days to show on your account due to
                            varying processing times between payment providers.
                        </p>
                        <h4><strong>Product Exchange</strong></h4>
                        <p>
                            If you would like to exchange a faulty item instead of obtaining a refund, please be aware
                            that we can only replace it for the same product in the same size, subject to availability.
                            Where possible, we will offer to repair faulty items. If you wish to exchange your item for
                            an alternative product, we suggest that you return it and purchase the new item separately.
                        </p>
                        <h4><strong>Custom Orders</strong></h4>
                        <p>
                            All custom made orders are non-returnable, early delivery orders will be considered as
                            custom made. We shall not be able to process the cancellation once a custom
                            order/orders are processed.
                        </p>
                        <h4><strong>Repeated Returns</strong></h4>
                        <p>
                            We offer a flexible returns policy to make your online shopping experience even easier.
                            We do monitor the number of returns made by customers, and continued returns will be
                            flagged and potentially refused at our discretion or lead to the closure of your account.
                        </p>
                        <h4><strong>Late Returns</strong></h4>
                        <p>
                            Your purchase should be sent back to us within 12 days of receiving your order. Returns
                            outside of this period may be accepted at the discretion of Ekaya.
                        </p>



                    </div>
                </div>
            </div>
        </section>
    <!-- Mt Workspace Section of the Page -->
</main><!-- Main of the Page end -->
{% endblock content %}









