{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Terms | {{ shop_name }}{% endblock %}
{% block content %}
    <main id="mt-main">
    <!-- Mt Content Banner of the Page -->
        <section class="wow slideInUp" data-wow-delay="0.4s">
            <img style="width:100%" src="{% static "markatix/images/new/about/01.jpeg"%}">
        </section>
    <!-- Mt Content Banner of the Page end -->
    <!-- Mt About Section of the Page -->
        <section class="terms wow slideInUp" data-wow-delay="0.4s">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>GENERAL</h4>
                        <p>
                            www.ekaya.in (our &quot;Wesbite,&quot; or &quot;Site&quot;) is owned by EKAYA (“we,&quot; “us,” and “our”). The following
                            Terms and Conditions (&quot;Terms&quot;) apply to all visitors or users (&quot;you,&quot; &quot;your,&quot; or &quot;yours&quot;) of our
                            Website and of our webpages (collectively, our “Services”). By using our Website, you agree to be
                            bound by these Terms.
                        </p>
                        <p>
                            We reserve the right to modify the Terms at any time. Changes and clarifications will take effect
                            immediately upon their posting on the Website. If you do not agree to any of these changes, you
                            must discontinue using the Website.
                        </p>
                        <p>
                            By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions
                            of Use, all applicable laws and regulations, and agree that you are responsible for compliance with
                            any applicable local laws. If you do not agree with any of these terms, you are prohibited from
                            using or accessing this site. The materials contained in this web site are protected by applicable
                            copyright and trade mark law.
                        </p>
                        <p>
                            Ekaya is the sole intended beneficiary of this Agreement. If there is any inconsistency between this
                            Agreement and any other agreement included with or relating to the Goods, this Agreement shall
                            govern. This Agreement may not be modified, altered or amended without the written agreement of
                            Ekaya. These terms and conditions are governed by and construed in accordance with the laws of
                            India. Ekaya agrees to submit to the exclusive jurisdiction of the courts at New Delhi.
                        </p>
                        <h4>INTELLECTUAL PROPERTY RIGHTS</h4>
                        <p>
                            The Website and all of its content, including but not limited to, its software or HTML code, scripts,
                            text, artwork, photographs, images, video, and audio are the intellectual property of Ekaya. 
                            All content is provided by Ekaya as a service to its current and prospective customers and may be
                            used for personal use and for purchasing purposes.
                        </p>
                        <p>
                            You are authorised to print a copy of any information contained on this Website for personal use
                            unless such printing is expressly prohibited. Without limiting the foregoing, you may not, without
                            our written permission, sell information obtained from this Website. 
                        </p>
                        <p>
                            You may not copy, alter, reproduce, publish, transmit, distribute, perform, display, post, modify,
                            create derivative works from, sell, license, or otherwise exploit this Site or any of its content without
                            our prior written permission.
                        </p>
                        <p>
                            You may not use this Website, or any of its content, for any commercial purposes, including any
                            advertising or advertising revenue generation activity on your own Website. 
                        </p>
                        <p>
                            Any unauthorised copying, alteration, distribution, transmission, performance, display, or other use
                            of these materials is prohibited.
                        </p>

                        <h4>TRADEMARKS</h4>
                        <p>
                            Reproduction or misuse of any trademarks and logos on the Website is strictly prohibited. 
                        </p>
                        <p>
                            Ekaya retains all rights regarding the trademarks, trade names and brand name. These marks,
                            names and all associated logos or images, are registered and/or common law trademarks and are
                            protected by local and international laws and treaties. No license to the use of such marks or
                            names is granted to you under these Terms.
                        </p>
                        <h4>ACCEPTABLE USE OF THE WEBSITE</h4>
                        <p>
                            You agree that:
                        </p>
                        <p>
                            You will not misuse our Services (e.g., you will not use our Website in any way which is unlawful,
                            illegal, fraudulent or harmful).
                        </p>
                        <p>
                            You will not make any speculative or fraudulent orders. 
                        </p>
                        <p>
                            You will not conduct systematic or automated data collection activities (including without limitation
                            scraping, data mining, and data harvesting).
                        </p>
                        <p>
                            You will not alter another website so as to falsely imply that it is affiliated or associated with Ekaya.
                        </p>
                        <p>
                            <strong>You may only use the Website to make legitimate orders and inquiries.</strong>
                        </p>
                        <p>
                            You are responsible for all use of your account (under any user name or password) and for
                            ensuring that all use of your account complies fully with the provisions of these Terms.
                        </p>
                        <h4>TERMINATION OF ACCESS</h4>
                        <p>
                            Access to this Website may be terminated by us at any time without notice. Our disclaimer will
                            nevertheless survive any such termination.
                        </p>
                        <h4>TERMINATION OF SERVICES</h4>
                        <p>
                            Ekaya may terminate the Services or any portion thereof, or any products or services offered
                            through the Website.
                        </p>
                        <h4>PURCHASE PRICE</h4>
                        <p>
                            You agree to pay the Purchase Price of the Goods as posted on this website attached hereto.
                        </p>
                        <h4>PAYMENT TERMS</h4>
                        <p>
                            The total amount of the Purchase Price shall be payable in full by you according to the payment
                            due date stated at Checkout. In addition, we shall have the right to pursue any remedies available
                            at law or as provided herein and shall be entitled to reimbursement from you for our costs of
                            collection, including attorney fees, legal fees and costs and disbursements, if any.
                        </p>
                        <h4>COLOUR DISCLAIMER</h4>
                        <p>
                            The colours of products you see on computer screen will vary slightly from those of the actual
                            product. This is because of the difference in underlying technologies of computer monitors and
                            fabric; monitors that are not properly calibrated also add to the difference in colours. In addition,
                            the lighting used while taking photographs also factor in the final colour shown on the screen.
                        </p>
                        <h4>PRICE DISCLAIMER</h4>
                        <p>
                            While Ekaya makes every effort to ensure that the products are described and priced accurately, in
                            the event that an item is deemed to be priced incorrectly, Ekaya reserves the right to refuse the
                            sale of that item.
                        </p>
                        <h4>ORDER APPROVAL</h4>
                        <p>
                            All orders are subject to acceptance and availability. Please note that items in your shopping cart
                            are not reserved and may be purchased by other customers. After you place your order, you will be
                            sent an e-mail to confirm that your credit/debit card has been charged.
                        </p>
                        <p>
                            Your card account is debited at the same time you submit your order on our Website. If your order
                            has not been approved, you will be notified immediately via our Website. In the rare instance that
                            your order is approved but any of the items you have ordered are not available, we will contact you
                            immediately by e-mail to arrange for a full refund or a product exchange, if preferred.
                        </p>
                        <p>
                            Unless you cancel your order, acceptance of your order and completion of the contract between
                            you and Ekaya will be completed when we e-mail you to confirm the goods have been dispatched.
                            The Website and communication is always conducted in English; therefore, the final sale contract
                            will also be in English.
                        </p>
                        <p>
                            We reserve the right to not accept your order in the event, for example, that we are unable to
                            obtain authorisation for payment, that shipping restrictions apply to a particular item, that the item
                            ordered is out of stock or does not satisfy our quality control standards.
                        </p>
                        <h4>CANCELLATION BY US</h4>
                        <p>
                            At Ekaya, we will do our best to ensure your order is fulfilled. However, we reserve the right to
                            cancel the order if we do not have sufficient stock.
                        </p>
                        <p>
                            In the event of cancellation, we will contact you by e-mail within 48 hours of receiving your order. If
                            we cannot fulfill the order, we will re-credit your account immediately. Ekaya will re-credit your
                            account for the value of the goods and shipping only. Ekaya does not reimburse any bank charges
                            you may have incurred in the transaction.
                        </p>
                        <p style="text-decoration:underline">
                            <strong>
                                Please note card refunds may take up to 10 business days for your bank to complete,
                                depending on their processing time. This can vary greatly between card issuers, and
                                unfortunately, we are unable to influence this.
                            </strong>
                        </p>
                        <h4>CANCELLATION BY YOU</h4>
                        <p>
                            Ekaya aims to ship any orders within 7 days. Goods purchased on order will take upto 3 weeks.
                            (excluding weekends and public holidays). We will contact you via email, to let you know the time
                            required to complete your order. If you contact us and the order has already shipped, we cannot
                            cancel the order. However, if the order has not been shipped, Ekaya will cancel the order and
                            refund you. Please also note the refund will not be possible if the order has been customised to
                            your size etc. and has already been shipped.
                        </p>
                        <h4>DELIVERY</h4>
                        <p>
                            Unless otherwise agreed in writing, delivery dates provided by us are estimates only. We will make
                            reasonable efforts to deliver in accordance with such dates; however, Ekaya will not be liable for\
                            failure to deliver as estimated. Unless otherwise agreed in writing by us, Goods shall be packaged
                            according to our standards and practices.
                        </p>
                        <h4>CUSTOMS, DUTIES, TAXES</h4>
                        <p>
                            You are responsible for assuring that the product can be lawfully imported to the destination
                            country. Orders that are shipped to countries outside of India may be subject to import taxes,
                            customs duties and fees levied by the destination country. The recipient of an international
                            shipment may be subject to such import taxes, customs duties and fees, which are levied once a
                            shipment reaches the destination country. Additional charges for customs clearance must be borne
                            by the recipient; we have no control over these charges and cannot predict what they may be.
                            When customs clearance procedures are required, it can cause delays beyond our original delivery
                            estimates.
                        </p>
                        <h4>RETURNS POLICY</h4>
                        <p>
                            You must request and exchange or return within 10 days of receiving the item.
                        </p>
                        <p>
                            The item/s must be in original condition, with the original packaging and with all tags still attached.
                        </p>
                        <p>
                            Item/s must not have been worn, washed or altered in any way.
                        </p>
                        <p>
                            Please take care when trying on garments, as we cannot accept garments that have make up\
                            stains or garments that smell of perfume.
                        </p>
                        <p>
                            Returns that do not meet our policy will not be accepted and will be sent back to the customer. 
                        </p>
                        <p>
                            The item/s must be returned to us before the exchange/refund is made.
                        </p>
                        <p>
                            The cost of the original freight and the return postage will not be reimbursed or refunded.
                        </p>
                        <p>
                            We are unable to refund initial shipping charges for goods returned other than for faulty items. We
                            are also unable to refund return postage costs. 
                        </p>
                        <p>
                            Once the items have been received, you will either receive your new item (for exchanges), or a full
                            refund (excluding original shipping cost). 
                        </p>
                        <p style="text-decoration:underline">
                            Ekaya cannot be held liable for the loss of garments being returned, we recommend that you use a
                            registered shipping method, so that you can track your order.
                            All items need to be received into our Delhi Address : D7, Defence Colony, New Delhi 110024
                        </p>
                        <h4>FORCE MAJEURE</h4>
                        <p>
                            Ekaya shall not be held responsible for any failure of performance to make timely delivery due to:
                        </p>
                        <p>
                            Federal, provincial or municipal action, statute, ordinance or regulation, strike or other labor trouble
                            Fire or other damage to or destruction of, in whole or in part, the Goods or the manufacturing
                            facility for the Goods
                        </p>
                        <p>
                            The lack of or inability to obtain raw materials, labor, fuel, electrical power, water or supplies, or any
                            other cause, contingency or circumstances not subject to the reasonable control of Ekaya, which
                            causes delays or hinders the manufacture or delivery of Goods.
                        </p>
                        <p>
                            We shall determine in good faith the extent to which we can reasonably control a cause,
                            contingency, or circumstance that affects the performance of our obligations.
                        </p>
                        <h4>YOUR RIGHTS</h4>
                        <p>
                            You have the right to expect that:
                        </p>
                        <p>
                            1. Any products you order through the Website will be of satisfactory quality, fit for their intended
                            purpose, and will conform to the description given on this Site;
                        </p>
                        <p>
                            2. Certain remedies will be followed if a product is agreed to be defective; 
                        </p>
                        <p>
                            3. You have the choice of a full refund or a credit if a defective product cannot be repaired or
                            replaced.
                        </p>
                        <h4>FEEDBACK</h4>
                        <p>
                            We would love to hear from you. If you have questions, comments or suggestions, please send us
                            an e-mail at <a href="mailto:info@ekaya.in">info@ekaya.in</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    <!-- Mt Workspace Section of the Page -->
</main><!-- Main of the Page end -->
{% endblock content %}









