{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Terms | {{ shop_name }}{% endblock %}
{% block content %}
    <main id="mt-main">
    <!-- Mt Content Banner of the Page -->
        <section class="wow slideInUp" data-wow-delay="0.4s">
            <img style="width:100%" src="{% static "markatix/images/new/about/01.jpeg"%}">
        </section>
    <!-- Mt Content Banner of the Page end -->
    <!-- Mt About Section of the Page -->
        <section class="terms wow slideInUp" data-wow-delay="0.4s">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h3 style="color: #7B674f;text-align: center">TERMS AND CONDITIONS</h3>
                        <br>
                        <h4>GENERAL</h4>
                        <p>
                            www.ekaya.in (our &quot;Wesbite,&quot; or &quot;Site&quot;) is owned by EKAYA (“we,&quot; “us,” and “our”). The following
                            Terms and Conditions (&quot;Terms&quot;) apply to all visitors or users (&quot;you,&quot; &quot;your,&quot; or &quot;yours&quot;) of our
                            Website and of our webpages (collectively, our “Services”). By using our Website, you agree to be
                            bound by these Terms.
                        </p>
                        <p>
                            We reserve the right to modify the Terms at any time. Changes and clarifications will take effect
                            immediately upon their posting on the Website. If you do not agree to any of these changes, you
                            must discontinue using the Website.
{#                        </p>#}
{#                        <p>#}
                            By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions
                            of Use, all applicable laws and regulations, and agree that you are responsible for compliance with
                            any applicable local laws. If you do not agree with any of these terms, you are prohibited from
                            using or accessing this site. The materials contained in this web site are protected by applicable
                            copyright and trade mark law.
                        </p>
                        <p>
                            Ekaya is the sole intended beneficiary of this Agreement. If there is any inconsistency between this
                            Agreement and any other agreement included with or relating to the Goods, this Agreement shall
                            govern. This Agreement may not be modified, altered or amended without the written agreement of
                            Ekaya. These terms and conditions are governed by and construed in accordance with the laws of
                            India. Ekaya agrees to submit to the exclusive jurisdiction of the courts at New Delhi.
                        </p>
                        <h4>INTELLECTUAL PROPERTY RIGHTS</h4>
                        <p>
                            The Website and all of its content, including but not limited to, its software or HTML code, scripts,
                            text, artwork, photographs, images, video, and audio are the intellectual property of Ekaya. 
                            All content is provided by Ekaya as a service to its current and prospective customers and may be
                            used for personal use and for purchasing purposes.
                        </p>
                        <p>
                            All content is provided by Ekaya as a service to its current and prospective customers and may be used
                            for personal use and for purchasing purposes.

                        </p>
                        <p>
                            You are authorised to print a copy of any information contained on this Website for personal use
                            unless such printing is expressly prohibited. Without limiting the foregoing, you may not, without
                            our written permission, sell information obtained from this Website. 
                        </p>
                        <p>
                            You may not copy, alter, reproduce, publish, transmit, distribute, perform, display, post, modify,
                            create derivative works from, sell, license, or otherwise exploit this Site or any of its content without
                            our prior written permission.
                        </p>
                        <p>
                            You may not use this Website, or any of its content, for any commercial purposes, including any
                            advertising or advertising revenue generation activity on your own Website. 
                        </p>
                        <p>
                            Any unauthorised copying, alteration, distribution, transmission, performance, display, or other use
                            of these materials is prohibited.
                        </p>

                        <h4>TRADEMARKS</h4>
                        <p>
                            Reproduction or misuse of any trademarks and logos on the Website is strictly prohibited. 
{#                        </p>#}
{#                        <p>#}
                            Ekaya retains all rights regarding the trademarks, trade names and brand name. These marks,
                            names and all associated logos or images, are registered and/or common law trademarks and are
                            protected by local and international laws and treaties. No license to the use of such marks or
                            names is granted to you under these Terms.
                        </p>
                        <h4>ACCEPTABLE USE OF THE WEBSITE</h4>
                        <p>
                            You agree that:
                        </p>
                        <p>
                            You will not misuse our Services (e.g., you will not use our Website in any way which is unlawful,
                            illegal, fraudulent or harmful).
                        </p>
                        <p>
                            You will not make any speculative or fraudulent orders. 
                        </p>
                        <p>
                            You will not conduct systematic or automated data collection activities (including without limitation
                            scraping, data mining, and data harvesting).
                        </p>
                        <p>
                            You will not alter another website so as to falsely imply that it is affiliated or associated with Ekaya.
{#                        </p>#}
{#                        <p>#}
                            You may only use the Website to make legitimate orders and inquiries.
                        </p>
                        <p>
                            You are responsible for all use of your account (under any user name or password) and for
                            ensuring that all use of your account complies fully with the provisions of these Terms.
                        </p>
                        <h4>TERMINATION OF ACCESS</h4>
                        <p>
                            We may terminate access to this Website at any time without notice. Our disclaimer will nevertheless survive any such termination.

                        </p>
                        <h4>TERMINATION OF SERVICES</h4>
                        <p>
                            Ekaya may terminate the Services or any portion thereof, or any products or services offered
                            through the Website.
                        </p>
                        <h4>TERMS OF SALE</h4>
                        <p>

                            By placing an order for any goods on our website you are subject to the following terms and conditions. All orders are subject to availability and confirmation of the order price.
                            Dispatch times may vary according to availability and any guarantees or representations made as to delivery times are estimates only. Ekaya we will not be responsible for any delays resulting from postal delays or force majeure.
                            When placing an order you undertake that all details you provide to us are true and accurate, that you are an authorised user of the credit or debit card used to place your order and that there are sufficient funds to cover the cost of the goods.
                            The cost of the products may fluctuate with seasons. All prices advertised are subject to such changes.
                        </p>
                        <p>
                        <strong>a) Our Contract</strong>
                            A contract between us for the purchase of the goods will not be formed until your payment has been approved and our billing agent has debited your credit or debit card.
                            Please note that items in your shopping cart are not reserved and may be purchased by other customers. After you place your order, you will be sent an email to confirm that your credit/debit card has been charged.
                            Your card account is debited at the same time you submit your order on our Website. If your order has not been approved, you will be notified immediately via our Website. In the rare instance that your order is approved but any of the items you have ordered are not available, we will contact you immediately by email to arrange for a full refund or a product exchange, if preferred.
                            Unless you cancel your order, acceptance of your order and completion of the contract between you and Ekaya will be completed when when we e-mail you to confirm that your order is in process
                            The Website and communication are always conducted in English; therefore, the final sale contract will also be in English.
                        </p>
                        <p>
                            We reserve the right to not accept your order in the event, for example, that we are unable to obtain authorisation for payment, that shipping restrictions apply to a particular item, that the item ordered is out of stock or does not satisfy our quality control standards.
                        </p>
                        <p>
                            <strong>    b) Pricing and Availability  </strong>
                        </p>
                        <p>
                        <strong>    i. Purchase Price  </strong>
                            You agree to pay the Purchase Price of the Goods as posted on this website attached hereto.
                        </p>
                        <p>
                        <strong>    ii. Price Disclaimer  </strong>
                            While Ekaya makes every effort to ensure that the products are described and priced accurately, in the event that an item is deemed to be priced incorrectly, Ekaya reserves the right to refuse the sale of that item. Please note customers ordering outside of India will be charged estimated custom fees. Delivery costs will be charged in addition; such additional charges are clearly displayed where applicable and included in the 'Total Cost'.
                            The issuer of your credit or debit card may charge currency conversion or other fees in relation to your order. You should check with the issuer of your credit or debit card for details of any such fees.
                        </p>
                        <p>
                        <strong>    iii. Colour Disclaimer </strong>
                            The colours of products you see on the computer screen will vary slightly from those of the actual product. This is because of the difference in underlying technologies of computer monitors and fabric; monitors that are not properly calibrated also add to the difference in colours. In addition, the lighting used while taking photographs also factor in the final colour shown on the screen.
                        </p>
                        <p>
                        <strong>    iv. Payment  </strong>
                            The total amount of the Purchase Price shall be payable in full by you according to the payment due date stated at Checkout. In addition, we shall have the right to pursue any remedies available at law or as provided herein and shall be entitled to reimbursement from you for our costs of collection, including attorney fees, legal fees and costs and disbursements, if any.
                        </p>
                        <h4>    RETURNS & CANCELLATIONS </h4>
                        <p>
                        <strong>    a) Returns
                            i. Returning goods if they are faulty </strong>
                            You may be entitled to have the goods repaired or replaced if the goods fail to be of acceptable quality and the failure does not amount to a majeure failure.
                            If you think that there is a fault with the goods you have received, please let us know straight away by contacting us at info@ekaya.in. Please include as many details as possible about the order and the problem with the goods.
                        </p>
                        <p>
                            <strong>    ii. Returning goods if you change your mind or need a different size </strong>
                            In addition to your rights in relation to faulty goods, you can return any goods within 10 days of receipt for a refund of those goods or exchange it for a different size or colour. If you want a refund, we will refund the monetary value of the goods returned to us, at the price you purchased them.
                            If you change your mind about the goods (including the size or colours), the goods returned must be in their original condition, which includes any packaging. All goods will be inspected on return.
                        </p>
                        <p>
                        <strong>    iii. Returns Policy </strong>
                            This section applies to the return of all goods, regardless of whether they are faulty or you change your mind or need a different size.

                            -    You must request and exchange or return within 10 days of receiving the item.
                            -    The item/s must be in original condition, with the original packaging and with all tags still attached.
                            -    Item/s must not have been worn, washed or altered in any way.
                            -    Please take care when trying on garments, as we cannot accept garments that have make up stains or garments that smell of perfume.
                            -    Returns that do not meet our policy will not be accepted and will be sent back to the customer.
                            -    The item/s must be returned to us before the exchange/refund is made.
                            -    Once the items have been received, you will either receive your new item (for exchanges), or a full refund (excluding original shipping cost).
                        </p>
                        <p>
                            Ekaya will be taking the responsibility for the costs of returning the goods. Once you communicate your desire for a return/exchange we will be emailing you the return notes and labels.
                            Our delivery representatives from your country will come to pick up the goods along with the papers we will send via email once a return request is made, we insist you keep the items properly packed for the pickup. In the rare instance that we’re unable to send a representative to your assigned address, you may have to drop the package to a local post office.
                        </p>
                        <p>
                        <strong>    b.  Cancellations
                            i. Cancellations by us </strong>
                            At Ekaya, we will do our best to ensure your order is fulfilled. However, we reserve the right to cancel the order if we do not have sufficient stock.
                            In the event of cancellation, we will contact you by e-mail within 48 hours of receiving your order. If we cannot fulfil the order, we will re-credit your account immediately. Ekaya will re-credit your account for the value of the goods and shipment only.  Ekaya does not reimburse any bank charges you may have incurred in the transaction.
                            <strong>    Please note card refunds may take up to 10 business days for your bank to complete, depending on their processing time. This can vary greatly between card issuers, and unfortunately, we are unable to influence this.</strong>
                        </p>
                        <p>
                        <strong>    ii. Cancellations by you
                            Ekaya aims to ship any orders within 7 days. Goods purchased on order will take up to 3 weeks. (Excluding weekends and public holidays).</strong> We will contact you via email, to let you know the time required to complete your order. If you contact us and the order has already shipped, we cannot cancel the order. However, if the order has not been shipped, Ekaya will cancel the order and refund you. Please also note the refund will not be possible if the order has been customised to your size etc., and has already been shipped.
                        </p>
                        <h4>    DELIVERY  </h4>
                        <p>    Unless otherwise agreed in writing, delivery dates provided by us are estimates only. We will make reasonable efforts to deliver in accordance with such dates; however, Ekaya will not be liable for failure to deliver as estimated. Unless otherwise agreed in writing by us, Goods shall be packaged according to our standards and practices.
                        </p>
                        <p>
                          <strong>  a) Customs, Duties, Taxes  </strong>
                            You are responsible for assuring that the product can be lawfully imported to the destination country. Orders that are shipped to countries outside of India may be subject to import taxes, customs duties and fees levied by the destination country.
                            The recipient of an international shipment may be subject to such import taxes, customs duties and fees, which are levied once a shipment reaches the destination country. Additional charges for customs clearance must be borne by the recipient; we have no control over these charges and cannot predict what they may be. When customs clearance procedures are required, it can cause delays beyond our original delivery estimates.
                        </p>


                        <p>
                         <strong>   b) Insurance</strong>
                            Ekaya provides free insurance on all products being delivered to customers. The insuarance is valid only till the time the product reaches the customer  and will lapse as soon as the customer will sign the receiving.
                        </p>
                        <p>
                            <strong>c) Force Majeure</strong>
                            Ekaya shall not be held responsible for any failure of performance to make timely delivery due to:
                            Federal, provincial or municipal action, statute, ordinance or regulation, strike or other labour trouble
                            Fire or other damage to or destruction of, in whole or in part, the Goods or the manufacturing facility for the Goods
                            The lack of or inability to obtain raw materials, labour, fuel, electrical power, water or supplies, or any other cause, contingency or circumstances not subject to the reasonable control of Ekaya, which causes delays or hinders the manufacture or delivery of Goods.
                            We shall determine in good faith the extent to which we can reasonably control a cause, contingency, or circumstance that affects the performance of our obligations.
                        </p>
                        <h4>   YOUR RIGHTS  </h4>
                        <p>   You have the right to expect that:
                            Any products you order through the Website will be of satisfactory quality, fit for their intended purpose, and will conform to the description given on this Site
                            Certain remedies will be followed if a product is agreed to be defective
                            You have the choice of a full refund or a credit if a defective product cannot be repaired or replaced
                        </p>

                        <h4>    FEEDBACK  </h4>
                        <p>    We would love to hear from you. If you have questions, comments or suggestions, please send us an e-mail at info@ekaya.in 
                        </p>
                    </div>
                </div>
            </div>
        </section>
    <!-- Mt Workspace Section of the Page -->
</main><!-- Main of the Page end -->
{% endblock content %}









