{% extends "layout.html" %}
{% load i18n %}
{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load staticfiles custom_tags debug_tags %}

{% block navigation %}
    {% include "partials/nav_primary.html" with expand_dropdown=1 %}
{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    {% get_home_sections 'Banner' as home_sections %}
    <article class="hidden-xs hidden-sm">
        <img src="{{home_sections.image.url}}" alt="Ekaya Banner" data-parallax='{"y": 50}'/>
        <p class="wow slideInUp" data-wow-duration="2s" style="color:{{home_sections.text_colour|safe}}">{{home_sections.text|safe}}<br><br>
            <a style="font-size:0.5em;text-decoration:underline;font-family: 'MetaSerifTf-Book';color:#fff" href="{{home_sections.link_url}}">{{home_sections.button}}</a>
        </p>
    </article>
    <article class="hidden-lg hidden-md">
        <img src="{{home_sections.image.url}}" alt="Ekaya Banner" data-parallax='{"y": 50}'/>
        <p class="wow slideInUp" data-wow-duration="2s" style="color:{{home_sections.text_colour|safe}}">{{home_sections.text|safe}}<br><br>
            <a style="font-size:0.5em;text-decoration:underline;font-family: 'MetaSerifTf-Book';color:#fff" href="{{home_sections.link_url}}">{{home_sections.button}}</a>
        </p>
    </article>

	<!-- mt main start here -->
    <main id="mt-main" >
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- banner row-3 start here -->
                    <div class="banner-frame equalh martb">
                        {% get_home_sections 'section1' as home_sections %}
                        <div class="col-sm-4 vcenter wow slideInUp" data-wow-duration="2s">
                            <img src="{% static "markatix/images/new/03.jpg"%}" alt="image description">
                        </div>
                        <div class="col-sm-2 vend1 hidden-xs wow slideInUp" data-wow-duration="2s">
                            <div class="text-right">
                                <h3>
                                    {{home_sections.text|safe}}
                                </h3>

                                <a href="{{home_sections.link_url}}" style="font-family: 'MetaSerifTf-Book';font-weight:bold;">
                                    {{home_sections.button}}
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 wow slideInUp" data-wow-duration="2s">
                            <div class="row">
                                <div class="hovereffect">
                                    <img src="{{home_sections.image.url}}" alt="image description">
{#                                    <img src="{% static "markatix/images/new/04.jpeg"%}" alt="image description">#}
                                    <div class="overlay">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 vend2 hidden-lg hidden-md hidden-sm wow slideInUp" data-wow-delay="0" data-wow-duration="2s">
                            <div class="">
                                <h3>
                                    {{home_sections.text|safe}}
                                </h3>
                                <a href="{{home_sections.link_url}}" style="font-family: 'MetaSerifTf-Book';font-weight:bold;">{{home_sections.button}}</a>
                                <br><br><br>
                            </div>
                        </div>
                    </div>
                    <!-- banner row-3 end here -->
                    <!-- banner row-4 start here -->
                    <div class="banner-frame equalh">
                        {% get_home_sections 'section2' as home_sections %}

                        <div class="col-sm-8 wow slideInUp" data-wow-delay="0" data-wow-duration="2s">
                            <div class="row">
                                <div class="hovereffect">
                                    <img src="{{home_sections.image.url}}" alt="image description">
{#                                    <img src="{% static "markatix/images/new/04.jpeg"%}" alt="image description">#}
                                    <div class="overlay">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2 vend2 wow slideInUp" data-wow-delay="0" data-wow-duration="2s">
                            <div>
                                <h3>
                                    {{home_sections.text|safe}}
                                </h3>
                                <a href="{{home_sections.link_url}}" style="font-family: 'MetaSerifTf-Book';font-weight:bold;"> {{home_sections.button}} </a>
                            </div>
                        </div>

                    </div>
                    <!-- banner row-4 end here -->
                </div>
            </div>
        </div>

        <!-- home row-5 start here -->

        <div class="mt-bestseller bg-grey text-center bg">
            {% get_home_sections 'section3' as home_sections %}
            <div class="container">
                <div class="row vcenter">
                    <div class="col-sm-6 wow slideInUp" data-wow-duration="2s">
                        <h2>
                            ABOUT  EKAYA
                            <br>
                        </h2>
                        <p style="font-family: 'MetaSerifTf-Book';">
                            {{home_sections.text|safe}}
                            <br><br><br>
                            <a href="{{home_sections.link_url}}" style="font-size:14px;color:#fff;font-family: 'MetaSerifTf-Book';text-decoration:underline">{{home_sections.button}}</a>
                        </p>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-3 wow slideInUp" data-wow-delay="0" data-wow-duration="2s">
                        <img src="{{home_sections.image.url}}" class="about-img" alt="image description">
                    </div>
                </div>
            </div>
        </div>
        <!-- home row-5 end here -->
        <!-- home row-6 start here -->
        <div class="mt-smallproducts test">
            <div class="container">
                <div class="row equalh wow slideInUp" data-wow-delay="0" data-wow-duration="2s">
                    <div class="col-sm-11">
                        <h3>SPRING 2017 <br><span>COLLECTION</span></h3>
                    </div>
                    <div class="col-sm-1 vend2 wow slideInUp" data-wow-delay="0" data-wow-duration="2s">
                        <div class="row m-row">
                            <h2 style="color:#7C6752"><a href="#" style="font-family: 'MetaSerifTf-Book';font-weight:bold;">SHOP NOW</a></h2>
                        </div>
                    </div>
                </div>
                <!-- Spring Collection Images -->
                <div class="row">
                    {% top_products as products %}
                    {% if products %}
                        {% for product in products %}
                            <div class="col-sm-4 col-pad wow slideInUp"  data-wow-delay="0" data-wow-duration="2s">
                                <div class="mt-product1 large">
                                    <div class="box">
                                        <div class="b1">
                                            <div class="b2">
                                                {% with image=product.primary_image %}
                                                    <a href="{{ product.get_absolute_url }}"  class="hovereffect">
                                                        <img src="{{ image.original.url }}" alt="{{ product.get_title }}" style="width:100%;">
                                                        <div class="overlay1">
                                                        </div>
                                                    </a>
                                                {% endwith %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="nonefound">{% trans "No products found." %}</p>
                    {% endif %}
                </div>

            </div>
        </div>


        <!-- home row-6 end here -->
        <!-- home row-7 start here -->

        <div class="mt-productsc">
            {% get_home_sections 'section4' as home_sections %}
            <div class="container">

                <div class="row wow slideInUp" data-wow-delay="0" data-wow-duration="2s">
                    <div class="col-xs-12 mt-heading text-center">
                        <p style="color:#948373;font-weight:bold;font-size:18px;letter-spacing:1;">Re-interpreting and receiving traditional weaves <br> and motifs with indian-Modern vision.</p>
                    </div>
                </div>

                <!-- mt productscrollbar start here -->

                <div class="row mt-smallproducts equalh">

                    <div class="col-sm-2">
                    </div>

                    <div class="col-sm-8 wow slideInUp" data-wow-delay="0" data-wow-duration="2s">
                        <div class="row">
                            <div class="hovereffect">
                                <a href="{{home_sections.link_url}}" style="font-family: 'MetaSerifTf-Book';font-weight:bold;">
                                <img src="{{home_sections.image.url}}" alt="image description">
                                <div class="overlay">
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 vcenter1 wow slideInUp" data-wow-delay="0" data-wow-duration="2s">
                        <div>
                            <h3>
                                {{home_sections.text|safe}}
                            </h3>
                            <a href="{{home_sections.link_url}}" style="font-family: 'MetaSerifTf-Book';font-weight:bold;">{{home_sections.button}}</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- home row-7 end here -->
        <!-- Insta feed start here -->

        <div class="mt-bestseller bg-grey1 text-center wow slideInUp" data-wow-delay="0.4s" data-wow-duration="2s">
        <div class=" bg-grey1 text-center wow slideInUp" data-wow-delay="0.4s" data-wow-duration="2s">
            <div class="container">

                <div class="row">
                    <div class="col-xs-12">
                        <br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h3 style="color: #7b674f">We're on Instragram</h3>
                        <br>
                        <div class="bestseller-slider">
                            {% get_instagram_feed as instagram_feeds %}
                            {% for instagram_feed in instagram_feeds %}
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href={{ instagram_feed.1 }} target="_blank"> <img src="{{instagram_feed.0}}" alt="instagram feed"> </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Insta feed end here -->

    </main>
    <!-- mt main end here -->

{% endblock content %}
{% block extrastyles %}
    <style>
        .alert-success,.alert-info,.alert-warning,.alert-danger
        {
            display:none;
        }
    </style>
{% endblock %}