{% extends "layout.html" %}

{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Catalogue | {{ shop_name }}{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{% block breadcrumbs %}
{#    <ul class="breadcrumb">#}
{#        <li>#}
{#            <a href="{{ homepage_url }}">{% trans "Home" %}</a>#}
{#        </li>#}
{#        <li class="active">{{ summary }}</li>#}
{#    </ul>#}
{% endblock breadcrumbs %}

{#{% block column_left %}#}
{#    {% category_tree as tree_categories %}#}
{#    {% if tree_categories %}#}
{#        <h4>{% trans "Show results for" %}</h4>#}
{#        <div class="side_categories">#}
{#            <ul class="nav nav-list">#}
{#                {% for tree_category, info in tree_categories %}#}
{#                    <li>#}
{#                        <a href="{{ tree_category.get_absolute_url }}">#}
{#                            {% if tree_category.pk == category.pk %}#}
{#                                <strong>{{ tree_category.name }}</strong>#}
{#                            {% else %}#}
{#                                {{ tree_category.name }}#}
{#                            {% endif %}#}
{#                        </a>#}
{##}
{#                        {% if info.has_children %}<ul>{% else %}</li>{% endif %}#}
{#                        {% for n in info.num_to_close %}#}
{#                            </ul></li>#}
{#                        {% endfor %}#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#    {% endif %}#}
{#    {% if has_facets %}#}
{#        <h4>{% trans "Refine by" %}</h4>#}
{#        <div class="side_categories">#}
{#            {% for field, data in facet_data.items %}#}
{#                {% if data.results %}#}
{#                    {% include 'search/partials/facet.html' with name=data.name items=data.results %}#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </div>#}
{#    {% endif %}#}
{#{% endblock %}#}

{% block content %}

{#    <form method="get" class="form-horizontal">#}
{#         Render other search params in a hidden block#}
{#        <div style="display:none">#}
{#            {% for value in selected_facets %}#}
{#                <input name="selected_facets" value="{{ value }}" />#}
{#            {% endfor %}#}
{#            {{ form.q }}#}
{#        </div>#}
{##}
{#        {% if paginator.count %}#}
{#            {% if paginator.num_pages > 1 %}#}
{#                {% blocktrans with start=page_obj.start_index end=page_obj.end_index count num_results=paginator.count %}#}
{#                    <strong>{{ num_results }}</strong> result - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.#}
{#                {% plural %}#}
{#                    <strong>{{ num_results }}</strong> results - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.#}
{#                {% endblocktrans %}#}
{#            {% else %}#}
{#                {% blocktrans count num_results=paginator.count %}#}
{#                    <strong>{{ num_results }}</strong> result.#}
{#                {% plural %}#}
{#                    <strong>{{ num_results }}</strong> results.#}
{#                {% endblocktrans %}#}
{#            {% endif %}#}
{#            {% if form %}#}
{#                <div class="pull-right">#}
{#                    {% include "partials/form_field.html" with field=form.sort_by %}#}
{#                </div>#}
{#            {% endif %}#}
{#        {% else %}#}
{#            <p>#}
{#                {% trans "<strong>0</strong> results." %}#}
{#            </p>#}
{#        {% endif %}#}
{#    </form>#}

    {% if products %}
        <main id="mt-main">
				<!-- Mt Contact Banner of the Page -->
					<article class="hidden-xs hidden-sm">
						<img src="{% static "markatix/images/new/product/01.jpg"%}" alt="Paris" data-parallax='{"y": 200}'/>
					</article>
					<article class="hidden-lg hidden-md">
						<img src="{% static "markatix/images/new/product/01.jpg"%}"/>
					</article>
					<div class="container">
						<div class="row">
							<!-- sidebar of the Page start here -->
							<div class="wow fadeInRight" data-wow-delay="0.4s">
								<!-- mt shoplist header start here -->
								<header class="mt-shoplist-header equalh">
                                    <div class="mt-textbox equalh hidden-xs">
										<img src="{% static "markatix/images/new/about/07.png" %}" style="width:120px;height:120px;float:left" >
                                        <h4 style="color:#ac997d;margin:0;margin-left: 10px;" class="vcenter1">SARIS</h4>
									</div><!-- mt-textbox end here -->
									<!-- btn-box start here -->
									<div class="btn-box vcenter1">
										<ul class="list-inline">
											<li class="fil">
												<a href="#" class="drop-link">
													REFINE YOUR SEARCH <i aria-hidden="true" class="fa fa-angle-down"></i>
												</a>
												<div class="drop filter-width">
													<div>
														<div class="panel">
															<div class="panel-heading">
																	<!-- Tabs -->
																<ul class="nav panel-tabs">
																	<li class="active tab-li"><a href="#tab1" data-toggle="tab">PRICE</a></li>
																	<li class="tab-li"><a href="#tab2" data-toggle="tab">CRAFT</a></li>
																	<li class="tab-li"><a href="#tab3" data-toggle="tab">FABRIC</a></li>
																	<li class="tab-li"><a href="#tab4" data-toggle="tab">COLOR</a></li>
																</ul>
															</div>
															<div class="panel-body">
																<div class="tab-content">
																	<div class="tab-pane active" id="tab1">
																		<div class="form" >
																			<form action='/catalogue/' method='GET'>
                                                                            <div class="col-xs-5 col-sm-3">
																				<div class="row">
																					<input name='price_min' type="text">
																				</div>
																			</div>
																			<div class="col-xs-2 col-sm-1">
																				<div class="row text-center vend fp">
																					<span>TO</span>
																				</div>
																			</div>
																			<div class="col-xs-5 col-sm-3">
																				<div class="row">
																					<input name='price_max' type="text">
																				</div>
																			</div>
																			<div class="col-sm-3">
																				<button>GO</button>
																			</div>
                                                                            </form>
																		</div>

																	</div>
                                                                    <div class="tab-pane filter" id="tab2">
                                                                        <div class="continents" style="font-size:12px;width:100%;">
                                                                            <label>
                                                                                <input type="checkbox" name="fl-cont" value="kadwa" id="kadwa"/>
                                                                                <span></span>
                                                                                <p>Kadwa</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type="checkbox" name="fl-cont" value="cutwork" id="cutwork"/>
                                                                                <span></span>
                                                                                <p>Cutwork</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type="checkbox" name="fl-cont" value="khimkab" id="khimkab"/>
                                                                                <span></span>
                                                                                <p>Khimkab</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type="checkbox" name="fl-cont" value="utchint" id="utchint"/>
                                                                                <span></span>
                                                                                <p>Utchint</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type="checkbox" name="fl-cont" value="tanchoi" id="tanchoi"/>
                                                                                <span></span>
                                                                                <p style="margin-top:2px;">Tanchoi</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type="checkbox" name="fl-cont" value="ajrakprinting" id="ajrakprinting"/>
                                                                                <span></span>
                                                                                <p>Ajrak Printing</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type="checkbox" name="fl-cont" value="digitalprint" id="digitalprint"/>
                                                                                <span></span>
                                                                                <p>Digital Print</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type="checkbox" name="fl-cont" value="blockprint" id="blockprint"/>
                                                                                <span></span>
                                                                                <p style="margin-top:2px;">Block Print</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type="checkbox" name="fl-cont" value="kantha" id="kantha"/>
                                                                                <span></span>
                                                                                <p>Kantha</p>
                                                                            </label>
                                                                       </div>
                                                                    </div>
                                                                    <div class="tab-pane filter" id="tab3">
                                                                        <form>
                                                                            <label>
                                                                                <input type='checkbox' name="fl-size" value="silk" id="silk">
                                                                                <span></span>
                                                                                <p>Silk</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type='checkbox' name="fl-size" value="silkgeorgette" id="silkgeorgette">
                                                                                <span></span>
                                                                                <p>Silk Georgette</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type='checkbox' name="fl-size" value="silktassur" id="silktassur">
                                                                                <span></span>
                                                                                <p>Silk Tassur</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type='checkbox' name="fl-size" value="georgette" id="georgette">
                                                                                <span></span>
                                                                                <p>Georgette</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type='checkbox' name="fl-size" value="cotton" id="cotton">
                                                                                <span></span>
                                                                                <p>Cotton</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type='checkbox' name="fl-size" value="linen" id="linen">
                                                                                <span></span>
                                                                                <p>Linen</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type='checkbox' name="fl-size" value="kora" id="kora">
                                                                                <span></span>
                                                                                <p>Kora</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type='checkbox' name="fl-size" value="organza" id="organza">
                                                                                <span></span>
                                                                                <p>Organza</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type='checkbox' name="fl-size" value="chanderi" id="chanderi">
                                                                                <span></span>
                                                                                <p>Chanderi</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type='checkbox' name="fl-size" value="tassur" id="tassur">
                                                                                <span></span>
                                                                                <p>Tassur</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type='checkbox' name="fl-size" value="benarasinet" id="benarasinet">
                                                                                <span></span>
                                                                                <p>Benarasi Net</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type='checkbox' name="fl-size" value="crepe" id="crepe">
                                                                                <span></span>
                                                                                <p>Crepe</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type='checkbox' name="fl-size" value="chiffon" id="chiffon">
                                                                                <span></span>
                                                                                <p>Chiffon</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type='checkbox' name="fl-size" value="mushroo" id="mushroo">
                                                                                <span></span>
                                                                                <p>Mushroo</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type='checkbox' name="fl-size" value="tissue" id="tissue">
                                                                                <span></span>
                                                                                <p>Tissue</p>
                                                                            </label>
                                                                            <label>
                                                                                <input type='checkbox' name="fl-size" value="tissuenet" id="tissuenet">
                                                                                <span></span>
                                                                                <p>Tissue Net</p>
                                                                            </label>
                                                                        </form>
                                                                    </div>
																	<div class="tab-pane filter" id="tab4">
																		<form>
																			<label>
																				<input type='checkbox' name="fl-colour" value="red" id="red">
																				<span></span>
																				<p>Red</p>
																			</label>
																			<label>
																				<input type='checkbox' name="fl-colour" value="black" id="black">
																				<span></span>
																				<p>Black</p>
																			</label>
																			<label>
																				<input type='checkbox' name="fl-colour" value="green" id="green">
																				<span></span>
																				<p>Green</p>
																			</label>
																			<label>
																				<input type='checkbox' name="fl-colour" value="pink" id="pink">
																				<span></span>
																				<p>Pink</p>
																			</label>
																		</form>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>
											</li>
											<li class="srt">
												<a href="#" class="drop-link" style="border-right:0px;">
													SORT BY <i aria-hidden="true" class="fa fa-angle-down"></i>
												</a>
												<div class="drop">
													<ul class="list-unstyled text-center">
														<li><a href="/catalogue/">VIEW ALL</a></li>
														<li><a href="/catalogue/?sort=ekaya-recommends">EKAYA LOVES</a></li>
														<li><a href="/catalogue/?sort=low-to-high">PRICE<br>LOW TO HIGH</a></li>
                                                        <li><a style="margin-bottom:0px" href="/catalogue/?sort=high-to-low">PRICE<br>HIGH TO LOW</a></li>
													</ul>
												</div>
											</li>

										</ul>
									</div><!-- btn-box end here -->
									<!-- mt-textbox start here -->

								</header><!-- mt shoplist header end here -->
								<div class="row product_list">
									<!-- BEGIN PRODUCTS -->
                                    {% for product in products %}
                                        <div class="col-md-3 col-sm-4 pad-thirty pro-grid" data-category="pink silk saree">
                                            {% render_product product %}
                                        </div>
                                    {% endfor %}


								</div>
							</div><!-------container----->

						</div>
					</div>
				</div>
			</main><!-- mt main end here -->


{#        <section>#}
{#            <div>#}
{#                <ol class="row">#}
{#                    {% for product in products %}#}
{#                        <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">{% render_product product %}</li>#}
{#                    {% endfor %}#}
{#                </ol>#}
{#                {% include "partials/pagination.html" %}#}
{#            </div>#}
{#        </section>#}
    {% else %}
        <p class="nonefound">{% trans "No products found." %}</p>
    {% endif %}

{% endblock content %}

{% block extrascripts  %}

    <script src="{% static "markatix/js/main.js" %}"  type="text/javascript"></script>
    <script>
        var $filterCheckboxes = $('input[type="checkbox"]');
        $filterCheckboxes.on('change', function() {

        var selectedFilters = {};

        $filterCheckboxes.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
            }

            selectedFilters[this.name].push(this.value);

            });

        // create a collection containing all of the filterable elements
        var $filteredResults = $('.pro-grid');
        // loop over the selected filter name -> (array) values pairs
        $.each(selectedFilters, function(name, filterValues) {

        // filter each .flower element
        $filteredResults = $filteredResults.filter(function() {

        var matched = false,
        currentFilterValues = $(this).data('category').split(' ');

        // loop over each category value in the current .flower's data-category
        $.each(currentFilterValues, function(_, currentFilterValue) {

        // if the current category exists in the selected filters array
        // set matched to true, and stop looping. as we're ORing in each
        // set of filters, we only need to match once

        if ($.inArray(currentFilterValue, filterValues) != -1) {
            matched = true;
            return false;
            }
            });

            // if matched is true the current .flower element is returned
            return matched;

            });
        });

        $('.pro-grid').hide().filter($filteredResults).show();

        });

    </script>

{% endblock %}
{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
