{% extends "layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load debug_tags %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{#{% block breadcrumbs %}#}
{#<ul class="breadcrumb">#}
{#    <li>#}
{#        <a href="{{ homepage_url }}">{% trans "Home" %}</a>#}
{#    </li>#}
{#    {% with category=product.categories.all.0 %}#}
{#        {% for c in category.get_ancestors_and_self %}#}
{#        <li>#}
{#            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>#}
{#        </li>#}
{#        {% endfor %}#}
{#        <li class="active">{{ product.title }}</li>#}
{##}
{#        {% get_back_button as backbutton %}#}
{#        {% if backbutton %}#}
{#            <li class="pull-right">#}
{#                <a href="{{ backbutton.url }}">#}
{#                    <i class="icon-arrow-left"></i> {{ backbutton.title }}#}
{#                </a>#}
{#            </li>#}
{#        {% endif %}#}
{#    {% endwith %}#}
{#</ul>#}
{#{% endblock %}#}

{% block header %}
{% endblock header %}

{% block content %}

    <main id="mt-main">
        <!-- Mt Product Detial of the Page -->
        <section class="mt-product-detial wow fadeInUp" data-wow-delay="0.4s">
            <div class="container">

{#                <div class="row">#}
{#                    <div class="mt-textbox equalhh basket">#}
{#                        <img src="{% static "markatix/images/new/about/07.png"%}" class="pro-logo" >#}
{#                        <h4 class="vcenter2" style="margin:0px;color:#ac997d;margin-left:5px">{{ product.categories.first.name }}</h4>#}
{#                    </div>#}
{#                    <br><br><br>#}
{#                </div>#}


                <div class="row">

                    {% block product_gallery %}
                    <div class="col-xs-12 col-sm-5 text">
                        <div class="row">
                            {% include "catalogue/partials/gallery.html" %}
                        </div>
                        <br>
                        <p class="new-text mt">
                            Shipping in 7 Business days from order date.
                        </p>
                        <p class="new-text">
                            Import duties and levies if any, to be borne by customer.
                        </p>

                        <div class="about-product">
                            <div class="col-sm-3">
                                <div class="row">
                                    <p>
                                        7 day Exchange
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <p>
                                        Free Shipping Across India
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="row">
                                    <p>
                                        World Wide Shipping Available
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}

                    {% block product_main %}
                        <div class="col-xs-12 col-sm-7">
                            <div class="row">
                                <div class="col-sm-11">
                                <!-- Detail Holder of the Page -->
                                    <div class="detail-holder">
                                    <!-- Admin Rights -->
                                        {% if user.is_authenticated and user.is_staff %}
                                            <a class="pull-right hidden-xs" href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small><i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>
                                        {% endif %}
                                        <!-- admin rights end-->
                                        <br>
                                        <br>
                                        <h2>{{ product.get_title }}</h2>
                                        <!-- Rank Rating of the Page -->
                                        <div class="rank-rating">
                                            <span class="total-price">Item Code: {{ product.upc }}</span>
                                        </div>
                                        <!-- Rank Rating of the Page end -->
                                        <div class="txt-wrap">

                                            <div class="col-sm-12">
                                                <div class="row equalh">
                                            <!-- Product Form of the Page -->
                                                    <div class="col-sm-4">
                                                        <div class="row">
                                                            {% include "catalogue/partials/add_to_basket_form.html" %}
                {#                                            <form action="#" class="product-form">#}
                {#                                                <div class="row-val">#}
                {#                                                    <button type="submit">ADD TO CART <span class="pull-right">+</span></button>#}
                {#                                                </div>#}
                {#                                            </form>#}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8 price-sec vend">
                                                        <div class="col-xs-3 text-center">
                                                            <div class="btn-group">
                                                                <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown">
                                                                    {{request.session.currency_code}}
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="/currency_conversion/?currency_code=EUR">EURO</a></li>
                                                                    <li><a href="/currency_conversion/?currency_code=USD">DOLLOR</a></li>
                                                                    <li><a href="/currency_conversion/?currency_code=GBP">POUND</a></li>
                                                                    <li><a href="/currency_conversion/?currency_code=INR">RUPEES</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-9">
                                                            <div class="detail_price">
                                                                <div class="row">
                                                                    {% block product_stock_record %}
                                                                        {% include "catalogue/partials/stock_record.html" with verbose=1 %}
                                                                    {% endblock %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            <!-- Product Form of the Page end -->
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="row">
                                                <br>
                                                    {% if user.is_authenticated %}
                                                        {% if product.wishlists_lines.all %}
                                                            {% for pro_wish in product.wishlists_lines.all %}
                                                                <form action="{% url 'customer:wishlists-remove-product' key=pro_wish.wishlist.key product_pk=product.id %}" method="post">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" name="next" value="/catalogue" />
                                                                    <button type="submit" style="padding:0px;background-color:transparent;border:0px;font-size:18px"><i style="color:#f6b220"  class="fa fa-heart"></i> IN WISHLIST </button>
                                                                </form>
                                                            {% endfor %}
                                                        {% else %}
                                                            <form id="add_to_wishlist_form" action="{% url 'customer:wishlists-add-product' product_pk=product.pk %}" method="post" class="mt">
                                                                {% csrf_token %}
                                                                <button type="submit" style="padding:0px;background-color:transparent;border:0px;font-size:18px"><i style="color:#f6b220"  class="fa fa-heart-o"></i> ADD TO WISHLIST </button>
                                                            </form>
                                                        {% endif %}
                                                    {% else %}
                                                        <button style="margin-top:5px;outline:0px;background-color:transparent;border:0px;font-size:18px;padding:0px;/*color:#000*/"><i style="color: #f6b220" class="fa fa-heart-o"></i> ADD TO WISHLIST</button>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="col-sm-12 detail">
                                                <div class="row">
                                                    <h3>Material Type</h3>
                                                    <p>{{product.attr.material_type}}</p>
                                                    <hr>
                                                    <h3>Detail</h3>
                                                    <p>{{ product.description|safe }}</p>
                                                    <hr>
                                                    <h3>Approx Weight</h3>
                                                    <p>{{product.attr.approx_weight}}</p>
                                                    <hr>
                                                    <h3>Wash Instructions</h3>
                                                    <p>{{product.attr.wash_instructions.option}}</p>
                                                    <hr>
                                                </div>
                                                <div class="row">
                                                    <p style="line-height:120%;font-size:16px !important;font-weight:700;margin-top:20px;margin-bottom:10px!important;">
        {#                                                <i>{{ product.description|safe }}</i>#}
                                                        <i>If your size or colour is not available, please contact us to place an order.</i>
                                                    </p>
                                                    <p style="line-height:120%;font-size:14px !important;font-weight:600;margin-top:10px;margin-bottom:10px!important;">
                                                        <i>Please note: The colours you see on your device may vary due to the varying colour reproduction and temperature of individual devices. If you'd like more clarity before your purchase, please contact our customer engagement team.</i>
                                                    </p>
                                                    <p style="line-height:120%;font-size:14px !important;font-weight:600;margin-top:10px;margin-bottom:20px!important;">
                                                        <i>All orders are subject to availability and confirmation of the order price and dispatch times may vary according to availability.</i>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 detail-about">
                                               <div class="row">

                                                    {% if product.attr.ekaya_recommends %}
                                                        <div class="mt-textbox equalh" style="padding:0px;">
                                                            <img src="{% static "markatix/images/new/about/07.png"%}" style="width:15%;height:15%;float:left" class="hidden-xs"><h2 style="color:#F6B82F !important;margin-left:15px;" class="vcenter1">EKAYA RECOMMENDS</h2>
                                                        </div><!-- mt-textbox end here -->
                                                        <p>
                                                            The colours you see on your device may vary due to the varying colour reproduction and temperature of individual devices.
                                                        </p>
                                                    {% endif %}
                                               
                                                    <div class="col-md-7 col-sm-7 col-xs-7 text-left">
                                                        <div class="row">
                                                            <ul class="menu list-inline">
                                                                <li>
                                                                    <a href="#" data-toggle="modal" data-target="#login-modal1">SHIPPING</a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" data-toggle="modal" data-target="#login-modal2">RETURNS</a>
                                                                </li>

                                                                <li>
                                                                    <a href="#" data-toggle="modal" data-target="#login-modal3">TERMS</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-5 col-sm-5 col-xs-5 text-right">
                                                        <h5>SHARE</h5>
                                                        <ul class="list-inline soc">
                                                            <li>
                                                                <a href="https://twitter.com/share?url={{url}}&text={{title}}&via=Ekaya&hashtags=ekaya" ><i class="fa fa-instagram"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="http://www.facebook.com/sharer.php?u={{url}}"><i class="fa fa-facebook fa-1x"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="https://pinterest.com/pin/create/bookmarklet/?media={{img}}&url={{url}}&description={{title}}"><i class="fa fa-pinterest"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="fa fa-envelope"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div><!-- /row -->

{#                {% block product_description %}#}
{#                    {% if product.description %}#}
{#                    <div id="product_description" class="sub-header">#}
{#                        <h2>{% trans "Product Description" %}</h2>#}
{#                    </div>#}
{#                    <p></p>#}
{#                    {% endif %}#}
{#                {% endblock %}#}

{#                {% block product_info %}#}
{#                    <div class="sub-header">#}
{#                        <h2>{% trans "Product Information" %}</h2>#}
{#                    </div>#}
{#                    <table class="table table-striped">#}
{#                        {% if product.upc %}#}
{#                        <tr>#}
{#                            <th>{% trans "UPC" %}</th><td></td>#}
{#                        </tr>#}
{#                        {% endif %}#}
{#                        <tr>#}
{#                            <th>{% trans "Product Type" %}</th><td>{{ product.get_product_class.name }}</td>#}
{#                        </tr>#}
{##}
{#                        {% purchase_info_for_product request product as session %}#}
{#                        {% if session.price.exists %}#}
{#                            <tr>#}
{#                                <th>{% trans "Price (excl. tax)" %}</th><td>{{ session.price.excl_tax|currency:session.price.currency }}</td>#}
{#                            </tr>#}
{#                            {% if session.price.is_tax_known %}#}
{#                                <tr>#}
{#                                    <th>{% trans "Price (incl. tax)" %}</th><td>{{ session.price.incl_tax|currency:session.price.currency }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <th>{% trans "Tax" %}</th><td>{{ session.price.tax|currency:session.price.currency }}</td>#}
{#                                </tr>#}
{#                            {% endif %}#}
{#                            <tr>#}
{#                                <th>{% trans "Availability" %}</th>#}
{#                                <td>{{ session.availability.message }}</td>#}
{#                            </tr>#}
{#                        {% endif %}#}
{#                        {% for av in product.attribute_values.all %}#}
{#                            <tr>#}
{#                                <th>{{ av.attribute.name }}</th>#}
{#                                <td>{{ av.value_as_html }}</td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                        {% iffeature "reviews" %}#}
{#                            <tr>#}
{#                                <th>{% trans "Number of reviews" %}</th>#}
{#                                <td>{{ product.num_approved_reviews }}</td>#}
{#                            </tr>#}
{#                        {% endiffeature %}#}
{#                    </table>#}
{#                {% endblock %}#}
{##}
{#                {% iffeature "reviews" %}#}
{#                    {% block product_review %}#}
{#                        <section>#}
{#                        <div id="reviews" class="sub-header">#}
{#                            {% if product.num_approved_reviews > 3 %}#}
{#                                <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}" class="btn pull-right">{% trans "See all reviews" %}</a>#}
{#                            {% endif %}#}
{#                            <h2>{% trans "Customer Reviews" %}</h2>#}
{#                        </div>#}
{##}
{#                        {% if product.num_approved_reviews == 0 %}#}
{#                            <p>#}
{#                                {% if product|is_review_permitted:user %}#}
{#                                    {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}#}
{#                                        {% blocktrans %}This product does not have any reviews yet -#}
{#                                        <a href="{{ add_review_url }}#addreview">be the first to write one</a>.#}
{#                                    {% endblocktrans %}#}
{#                                {% else %}#}
{#                                    {% trans "This product does not have any reviews yet" %}.#}
{#                                {% endif %}#}
{#                            </p>#}
{#                        {% else %}#}
{#                            <ol class="list-unstyled review-list">#}
{#                                {% for review in product.reviews.approved.all|slice:":3" %}#}
{#                                    <li>#}
{#                                    {% include 'catalogue/partials/review.html' %}#}
{#                                    </li>#}
{#                                {% endfor %}#}
{#                            </ol>#}
{#                        {% endif %}#}
{#                    </section>#}
{#                    {% endblock product_review %}#}
{#                {% endiffeature %}#}
{#                {% recently_viewed_products current_product=product %}#}

            </div><!-- End of product page -->
        </section>
        <div class="related-products wow fadeInUp" data-wow-delay="0.4s">
            <div class="container">
                <!-- BEGIN PRODUCTS -->
                {% with recommended_products=product.recommended_products.all|slice:":4" %}
                    {% if recommended_products %}
                        <h2>you may also like</h2>
                            <div class="row product_list">
                                {% for product in recommended_products %}
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <a href="{{ product.get_absolute_url }}"  class="hovereffect">
                                            {% block product_image %}
                                                {% with image=product.primary_image %}
                                                    <img src="{{ image.original.url }}" alt="{{ product.get_title }}">
                                                {% endwith %}
                                            {% endblock %}
                                            <div class="overlay">
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                </div>
            </div>
        </div>
    </main>

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <img src="{% static "markatix/images/new/size_guide.jpg" %}">
            </div>
        </div>
    </div>
    <div class="modal fade" id="login-modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="loginmodal-container">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3>SHIPPING</h3>
                <h4>General</h4>
                <p>
                    We ship to street addresses in all states of India. Shipping charges are free for all domestic deliveries.
                    Business Days: We will process orders to ship Monday - Saturday excluding public/ bank holidays.
                    Before we can dispatch your purchases, we may need to confirm your details with your card issuer. We will do our best to keep delays to a minimum
                    Our delivery time starts from the moment an order is accepted Ekaya aims to ship any orders within 7 days. Goods purchased on order will take up to 3 weeks. Please note this can take longer for international shipments.
                    We work closely with our shipping partner to minimise the potential impact of custom delays on our international customers

                </p>
                <h4>International Delivery Time and Costs </h4>
                <p>
                    All orders to be delivered outside of India will be notified with an estimated delivery date and will be charged for shipment on orders below 1,00,000; such additional charges are clearly displayed where applicable and included in the 'Total Cost'.
                    The issuer of your credit or debit card may charge currency conversion or other fees in relation to your order. You should check with the issuer of your credit or debit card for details of any such fees.

                </p>
                <p>
                    <strong>Taxes and duties</strong> are calculated according to your shipping destination. Please note: additional custom duties can be charged to you once your shipment reaches your country.
                    As the recipient, you are liable for all import duties, customs and local sales taxes levied by the country you are shipping to; payment of these is necessary to release your order from customs on arrival. As we are unable to advise the amount this may be, we will always seek your confirmation by email prior to your order. Please look out for this email to ensure timely dispatch of your order. Ekaya will have no control over those costs.

                </p>

                <h4>Insurance</h4>
                <p>
                    Ekaya provides free insurance on all products being delivered to customers, to ensure timely and safe delivery. The insurance is valid only till the time the product reaches the customer and will lapse as soon as the customer will sign the receiving.  Ekaya is not responsible for damage after delivery.

                </p>
                <h4>Order Tracking</h4>
                <p>
                    Once your order has left us, you will receive an email containing the reference number to track its progress online on the courier company’s site.
                </p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="login-modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3>RETURNS</h3>
                <p>
                    If you think that there is a fault with the goods you have received, please let us know straight away by contacting us at info@ekaya.in.
                </p>
                <p>
                    - The item/s must be in original condition, with the original packaging and with all tags still attached.<br>
                    - Item/s must not have been worn, washed or altered in any way.<br>
                    - Please take care when trying on garments, as we cannot accept garments that have make up stains
                    or garments that smell of perfume.<br>
                    - Returns that do not meet our policy will not be accepted and will be sent back to the customer.<br>
                    - The item/s must be returned to us before the exchange/refund is made.<br>
                    Once the items have been received, you will either receive your new item (for exchanges), or a full refund (excluding original shipping cost).
                </p>
                <p>
                    Ekaya will be taking the responsibility for the costs of returning the goods. Once you communicate your desire for a return/exchange we will be emailing you the return notes and labels.
                </p>
                <p>
                    Our delivery representatives from your country will come to pick up the goods along with the papers we
                    will send via email once a return request is made, we insist you keep the items properly packed for the
                    pickup. In the rare instance that we’re unable to send a representative to your assigned address, you may
                    have to drop the package to a local post office.
                </p>
                <p>
                    Please follow our return guidelines, Ekaya cannot be held liable for the loss of garments being returned
                    independently, we recommend that you use our registered shipping method so that the order can be
                    tracked.
                </p>
                <p>
                    <strong>All items need to be received into our Delhi Address: D7, Defence Colony, New Delhi 110024</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="login-modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="loginmodal-container">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3>TERMS</h3>
                <p>
                    1.	By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions, all its applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws<br>
                    2.	All content is provided by Ekaya as a service to its current and prospective customers and may be used for personal use and for purchasing purposes only<br>
                    3.	Please note that items in your shopping cart are not reserved and may be purchased by other customers. After you place your order, you will be sent an email to confirm that your credit/debit card has been charged<br>
                    4.	Your card account is debited at the same time you submit your order on our Website. If your order has not been approved, you will be notified immediately via our Website. In the rare instance that your order is approved but any of the items you have ordered are not available, we will contact you immediately by e-mail to arrange for a full refund or a product exchange, if preferred<br>
                    5.	Unless you cancel your order, acceptance of your order and completion of the contract between you and Ekaya will be completed when we email you to confirm that your order is in process<br>
                    6.	We reserve the right to not accept your order in the event, for example, that we are unable to obtain authorization for payment, that shipping restrictions apply to a particular item, that the item ordered is out of stock or does not satisfy our quality control standards<br>
                    7.	The total amount of the Purchase Price shall be payable in full by you according to the payment due date stated at ‘Checkout’<br>
                    8.	While Ekaya makes every effort to ensure that the products are described and priced accurately, in the event that an item is deemed to be priced incorrectly, Ekaya reserves the right to refuse the sale of that item<br>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrastyles  %}
    <style>
        /****** LOGIN MODAL ******/
        .loginmodal-container {
          padding: 30px;
          max-width: 800px;
          width: 100% !important;
          color:#7b674f;
          background-color: #FFF;
          margin: 0 auto;
          border-radius: 0px;
          border:3px solid #7b674f;
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          overflow: hidden;
        }

        .loginmodal-container h1 {
          text-align: center;
          font-size: 1.8em;

        }

        .loginmodal-container input[type=submit] {
          width: 100%;
          display: block;
          margin-bottom: 10px;
          position: relative;
        }

        .loginmodal-container input[type=text], input[type=password] {
          height: 44px;
          font-size: 16px;
          width: 100%;
          margin-bottom: 10px;
          -webkit-appearance: none;
          background: #fff;
          border: 1px solid #d9d9d9;
          border-top: 1px solid #c0c0c0;
          /* border-radius: 2px; */
          padding: 0 8px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
        }

        .loginmodal-container input[type=text]:hover, input[type=password]:hover {
          border: 1px solid #b9b9b9;
          border-top: 1px solid #a0a0a0;
          -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
          -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
          box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        }

        .loginmodal {
          text-align: center;
          font-size: 14px;

          font-weight: 700;
          height: 36px;
          padding: 0 8px;
        /* border-radius: 3px; */
        /* -webkit-user-select: none;
          user-select: none; */
        }

        .loginmodal-submit {
          /* border: 1px solid #3079ed; */
          border: 0px;
          color: #fff;
          text-shadow: 0 1px rgba(0,0,0,0.1);
          background-color: #4d90fe;
          padding: 17px 0px;
          font-size: 14px;
          /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
        }

        .loginmodal-submit:hover {
          /* border: 1px solid #2f5bb7; */
          border: 0px;
          text-shadow: 0 1px rgba(0,0,0,0.3);
          background-color: #357ae8;
          /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
        }

        .loginmodal-container a {
          text-decoration: none;
          color: #666;
          font-weight: 400;
          text-align: center;
          display: inline-block;
          opacity: 0.6;
          transition: opacity ease 0.5s;
        }
        .mt-bottom-bar
        {
            border-bottom:2px solid #7b674f;
        }
        .mt-textbox
        {
            padding:50px 0 20px;
        }
    </style>
{% endblock %}

{% block extrascripts %}
    <script>
        $(document).ready(function(){
            $(".alert-success,.alert-info,.alert-warning,.alert-danger").delay("5000").fadeOut("2000");
        });
    </script>
    {{ block.super }}
{% endblock %}
