{% extends "checkout/checkout.html" %}
{% load i18n %}
{% load thumbnail %}
{% load basket_tags %}
{% load currency_filters %}
{% load shipping_tags custom_tags %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Enter payment details" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
    {% block payment_details_content %}
        <main id="mt-main">
			<div class="container checkout">
				<div class="row">

				</div>
				<div class="row">

					<div class="col-sm-6">
						<p class="headding">CHECKOUT</p>
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
									<h4 class="panel-title">
										<a href="{% url 'checkout:shipping-address' %}" aria-expanded="true" aria-controls="collapseOne">
											<i class="more-less glyphicon glyphicon-plus"></i>
											1. ADDRESS
										</a>
									</h4>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
									<h4 class="panel-title">
										<a href="{% url 'checkout:shipping-method' %}">
											<i class="more-less glyphicon glyphicon-plus"></i>
											2. DELIVERY
										</a>
									</h4>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingThree">
									<h4 class="panel-title">
										<a href="{% url 'checkout:shipping-method' %}">
											<i class="more-less glyphicon glyphicon-plus"></i>
											3. ADDRESS DETAILS GIVEN
										</a>
									</h4>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingfour">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
											<i class="more-less glyphicon glyphicon-plus"></i>
											4. PAYMENT
										</a>
									</h4>
								</div>
								<div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
									<div class="panel-body">
										<div class="radio radio-primary">
											<input type="radio" name="radio1" id="radio1" value="option1">
											<label for="radio1">
												COD
											</label>
										</div>
										<div class="radio radio-primary">
											<input type="radio" name="radio1" id="radio2" value="option2">
											<label for="radio2">
												CCAVENUE
											</label>
										</div>
										<div class="radio radio-primary">
											<input type="radio" name="radio1" id="radio3" value="option3">
											<label for="radio3">
												WALLET
											</label>
										</div>
										<div class="col-sm-12">
											<div class="row">
												<a href="{% url 'checkout:preview' %}" class="pull-right save">PAY</a>
											</div>
										</div>
									</div>
								</div>
							</div>

                            <div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingThree">
									<h4 class="panel-title">
										<a href="#">
											<i class="more-less glyphicon glyphicon-plus"></i>
											5. CONFIRMATION
										</a>
									</h4>
								</div>
							</div>

						</div>
					</div>

					<div class="col-sm-1">
					</div>
					<div class="col-sm-5 basket">
                        <p class="headding">MY ORDER</p>
                        <div class="col-sm-12">
                            {% for line in request.basket.all_lines %}
                                <div class="row equalh bb">
                                    <div class="col-sm-3 col-xs-3">
                                        <div class="row">
                                            {% with image=line.product.primary_image %}
                                                
                                                <a href="{{ line.product.get_absolute_url }}">
                                                    <img src="{{ image.original.url }}" alt="{{ line.product.get_title }}">
                                                </a>
                                                
                                            {% endwith %}
                                        </div>
                                    </div>
                                    <div class="col-sm-9 col-xs-9 vcenter2">
                                        <h4 class="name"><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h4>
                                        <p class="qty">QTY:<span>{{ line.quantity }}</span></p>
                                        <h4 class="basket-price">PRICE:<br><span>{{ line.unit_price_excl_tax|multiply:request.session.currency_factor|currency:request.session.currency_code }}</span></h4>
                                    </div>
                                    <hr>
                                </div>
                            {% endfor %}
                            <div class="total">
                                {% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %}
                                    <div class="row bb">
                                        <p style="padding:0px;margin:0px">SUBTOTAL
                                            <span class="pull-right">
                                                {% if basket.is_tax_known and not show_tax_separately %}
                                                    {{ basket.total_incl_tax_excl_discounts|multiply:request.session.currency_factor|currency:request.session.currency_code }}
                                                {% else %}
                                                    {{ basket.total_excl_tax_excl_discounts|multiply:request.session.currency_factor|currency:request.session.currency_code }}
                                                {% endif %}
                                            </span>
                                        </p>
                                    </div>
                                    {% if offer_discounts or voucher_discounts %}
                                        {% for discount in offer_discounts %}
                                            {% if discount.description %}
                                                <div class="row bb">
                                                    <p style="padding:0px;margin:0px">DISCOUNT({{ discount.description }})
                                                        <span class="pull-right">
                                                            -{{ discount.discount|multiply:request.session.currency_factor|currency:request.session.currency_code }}
                                                        </span>
                                                    </p>
                                                </div>
                                            {% endif %}
                                        {% endfor %}

                                        {% if voucher_discounts %}
                                            {% for discount in voucher_discounts %}
                                                <div class="row bb">
                                                    <p style="padding:0px;margin:0px">COUPON({{ discount.voucher.name }} ({{ discount.voucher.code }}))
                                                        <span class="pull-right">
                                                            -{{ discount.discount|multiply:request.session.currency_factor|currency:request.session.currency_code }}
                                                        </span>
                                                    </p>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endwith %}
                                {% if not shipping_method.is_discounted %}
                                    <div class="row bb">
                                        <p style="padding:0px;margin:0px">SHIPING({{ shipping_method.name }})
                                            <span class="pull-right">
                                                {% if not show_tax_separately and shipping_charge.is_tax_known %}
                                                    {{ shipping_charge.incl_tax|multiply:request.session.currency_factor|currency:request.session.currency_code }}
                                                {% else %}
                                                    {{ shipping_charge.excl_tax|multiply:request.session.currency_factor|currency:request.session.currency_code }}
                                                {% endif %}
                                            </span>
                                        </p>
                                    </div>
                                {% else %}
                                    {% shipping_charge_discount shipping_method basket as shipping_discount %}
                                    {% shipping_charge_excl_discount shipping_method basket as shipping_charge_excl_discount %}
                                    <div class="row bb">
                                        <p style="padding:0px;margin:0px">SHIPPING({{ shipping_method.name }})
                                            <span class="pull-right">
                                                {% if not show_tax_separately and shipping_charge.is_tax_known %}
                                                    {{ shipping_charge.incl_tax|multiply:request.session.currency_factor|currency:request.session.currency_code }}
                                                {% else %}
                                                    {{ shipping_charge.excl_tax|multiply:request.session.currency_factor|currency:request.session.currency_code }}
                                                {% endif %}
                                            </span>
                                        </p>
                                    </div>
                                {% endif %}
                                {% block tax_totals %}
                                    {% if show_tax_separately %}
                                        <div class="row bb">
                                            <p style="padding:0px;margin:0px">TAXES (On Products)
                                                <span class="pull-right">
                                                    {{ basket.total_tax|multiply:request.session.currency_factor|currency:request.session.currency_code }}
                                                </span>
                                            </p>
                                        </div>
                                        <div class="row bb">
                                            <p style="padding:0px;margin:0px">TAXES (On Shipping)
                                                <span class="pull-right">
                                                    {{ shipping_charge.tax|multiply:request.session.currency_factor|currency:request.session.currency_code }}
                                                </span>
                                            </p>
                                        </div>
                                    {% endif %}
                                {% endblock %}
                                <div class="row bb">
                                    {% if request.basket.is_tax_known %}
                                        <p style="padding:0px;margin:0px">TOTAL<span class="pull-right">{{ request.basket.total_incl_tax|multiply:request.session.currency_factor|currency:request.session.currency_code }}</span></p>
                                    {% else %}
                                            <p style="padding:0px;margin:0px">TOTAL<span class="pull-right">{{ request.basket.total_excl_tax|multiply:request.session.currency_factor|currency:request.session.currency_code }}</span></p>
                                    {% endif %}

                                </div>
                            </div>
                        <br><br><br><br>
                        </div>

                        <p class="new-text1">Please note, the final purchase price may change when you select your delivery address</p>
                        <p class="new-text1">The items in your shopping cart are not reserved and may be purchased by other customers.</p>
                    </div>
                </div>
            </div>
		</main><!-- Main of the Page end here -->
{#        <a id="view_preview" href="{% url 'checkout:preview' %}" class="btn btn-primary btn-lg">{% trans "Continue" %}</a>#}
    {% endblock payment_details_content %}
{% endblock payment_details %}
