{% extends "checkout/layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load purchase_info_tags %}
{% load staticfiles %}

{% block title %}
    {% trans "Checkout" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' %}
{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
<div class="container">
    <div class="row shipping-payment">
        {% block shipping_address %}
            <div class="col-sm-4">
                {% if shipping_address %}
                    <div class="well well-info">
                        {% block shipping_address_actions %}
                            <a href="{% url 'checkout:shipping-address' %}" class="pull-right">
                                {% trans "Change" %}
                            </a>
                        {% endblock %}
                        <h3>{% trans "Address" %}</h3>
                        <address>
                            {% for field in shipping_address.active_address_fields %}
                                {{ field }}<br/>
                            {% endfor %}
                        </address>

                        {% if shipping_address.phone_number %}
                            <h4>{% trans "Contact" %}</h4>
                            <p>
                                {% trans "Phone" %}: {{ shipping_address.phone_number }}
                                {% if guest_email %}
                                    <br/>{% trans "Email" %}: {{ guest_email }}
                                {% endif %}
                            </p>
                        {% endif %}

                        {% if shipping_address.notes %}
                            <h4>{% trans "Instructions" %}</h4>
                            <p>{{ shipping_address.notes|linebreaks }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endblock shipping_address %}

        {# You will almost certainly want to override this block to provide a payment summary #}
        {% block payment_method %}
            <div class="col-sm-4">
                <div class="well well-success">
                    <a href="{% url 'checkout:payment-details' %}" class="pull-right">
                        {% trans "Change" %}
                    </a>
                    <h3>{% trans "Payment" %}</h3>
                    <p>{% trans "Payment details to go here" %}</p>
                </div>
            </div>
        {% endblock payment_method %}
    </div>

    {% block order_contents %}

        <div class="col-sm-8">
            <div class="row">
                <h4>Basket</h4>
                {% block basket_form_main %}
                    <table id="cart" class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th style="width:50%;font-size:13px;">ITEM</th>
                                <th style="width:12%;font-size:13px;"class="text-center">UNIT PRICE</th>
                                <th style="width:10%;font-size:13px;">QUANTITY</th>
                                <th style="width:16%;font-size:13px;" class="text-center">TOTAL PRICE</th>
                            </tr>
                        </thead>

                        {% for line in basket.all_lines %}
                            {% purchase_info_for_line request line as session %}
                                 <tr>
                                    <td data-th="Product">
                                        <div class="row vertical-align">
                                            <div class="col-sm-3">
                                                {% with image=line.product.primary_image %}
                                                    <a href="{{ form.instance.product.get_absolute_url }}"><img src="{{ image.original.url }}" alt="{{ product.get_title }}"></a>
                                                {% endwith %}
                                            </div>
                                            <div class="col-sm-9">
                                                <h4 class="nomargin" >
                                                    <a class="test" href="{{ line.product.get_absolute_url }}">{{ line.description }}</a>
                                                </h4>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-th="Price" class="text-center">
                                        {% if line.is_tax_known %}
                                            {{ line.unit_price_incl_tax|currency:line.price_currency }}
                                        {% else %}
                                            {{ line.unit_price_excl_tax|currency:line.price_currency }}
                                        {% endif %}
                                    </td>
                                     <td class="text-center" data-th="Remove">
                                         {{ line.quantity }}
                                     </td>
                                     <td data-th="Subtotal" class="text-center">
                                         {% if not show_tax_separately and line.is_tax_known %}
                                            {{ line.line_price_incl_tax|currency:basket.currency }}
                                        {% else %}
                                            {{ line.line_price_excl_tax|currency:basket.currency }}
                                        {% endif %}
                                     </td>
                                 </tr>
                            {% endfor %}
                        </table>
                    {% endblock %}
                </div>
            </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            {% include 'basket/partials/basket_totals.html' %}
        </div>



    {% endblock order_contents %}

    {% block shipping_method %}
    {% endblock shipping_method %}

    {% block payment_details %}
    {% endblock payment_details %}

    {% block place_order %}
    {% endblock place_order %}
</div>
{% endblock content %}
