{% extends "checkout/checkout.html" %}
{% load i18n %}
{% load thumbnail %}
{% load basket_tags %}
{% load currency_filters %}
{% load shipping_tags %}
{% load debug_tags custom_tags %}

{% block title %}
    {% trans "Shipping address" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=1 %}
{% endblock %}

{% block checkout_title %}{% trans "Shipping address" %}{% endblock %}

{% block order_contents %}{% endblock %}

{% block shipping_address %}
    {% block new_address_form %}
        <main id="mt-main">
			<div class="container checkout">
				<div class="row">

				</div>

				<div class="row">

					<div class="col-sm-6 basket">
						<p class="headding">CHECKOUT</p>
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default text bb">
								<div class="panel-heading" role="tab" id="headingOne">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											<i class="more-less glyphicon glyphicon-plus"></i>
											1. ADDRESS
										</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body">
										<form action="{% url 'checkout:shipping-address' %}" method="post" id="new_shipping_address">
                                            {% csrf_token %}
                                                <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <h4>Email</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <input type="text" name="email_address" placeholder="EMAIL" class="form-control" value="" />
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <h4 class="main-head">Shipping Address</h4>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="controls">
                                                            <select id="id_title" name="title">
                                                                <option value="Mr">Mr</option>
                                                                <option value="Miss">Miss</option>
                                                                <option value="Mrs">Mrs</option>
                                                                <option value="Ms">Ms</option>
                                                                <option value="Dr">Dr</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="form-group">
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="row">
                                                        <input class="input-left" id="id_first_name" maxlength="255" placeholder="FIRST NAME" name="first_name" type="text" required/>
                                                    </div>
                                                </div>
                                                <div class="span1"></div>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="row">
                                                        <input id="id_last_name" class="input-right" maxlength="255" placeholder="LAST NAME" name="last_name" type="text" required/>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <input id="id_line1" placeholder="ADDRESS" maxlength="255" name="line1" class="form-control" type="text" required/>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <input type="text" name="apl/suit" placeholder="APL/SUIT" class="form-control" value="" />
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="form-group">
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="row">
                                                        <select id="id_country" name="country" required="">
                                                          <option value="IN">India</option>
                    {#                                    <option value="AF">Afghanistan</option>#}
                    {#                                    <option value="AL">Albania</option>#}
                    {#                                    <option value="DZ">Algeria</option>#}
                    {#                                    <option value="AS">American Samoa</option>#}
                    {#                                    <option value="AD">Andorra</option>#}
                    {#                                    <option value="AO">Angola</option>#}
                    {#                                    <option value="AI">Anguilla</option>#}
                    {#                                    <option value="AQ">Antarctica</option>#}
                    {#                                    <option value="AG">Antigua and Barbuda</option>#}
                    {#                                    <option value="AR">Argentina</option>#}
                    {#                                    <option value="AM">Armenia</option>#}
                    {#                                    <option value="AW">Aruba</option>#}
                    {#                                    <option value="AU">Australia</option>#}
                    {#                                    <option value="AT">Austria</option>#}
                    {#                                    <option value="AZ">Azerbaijan</option>#}
                    {#                                    <option value="BS">Bahamas</option>#}
                    {#                                    <option value="BH">Bahrain</option>#}
                    {#                                    <option value="BD">Bangladesh</option>#}
                    {#                                    <option value="BB">Barbados</option>#}
                    {#                                    <option value="BY">Belarus</option>#}
                    {#                                    <option value="BE">Belgium</option>#}
                    {#                                    <option value="BZ">Belize</option>#}
                    {#                                    <option value="BJ">Benin</option>#}
                    {#                                    <option value="BM">Bermuda</option>#}
                    {#                                    <option value="BT">Bhutan</option>#}
                    {#                                    <option value="BO">Bolivia, Plurinational State of</option>#}
                    {#                                    <option value="BQ">Bonaire, Sint Eustatius and Saba</option>#}
                    {#                                    <option value="BA">Bosnia and Herzegovina</option>#}
                    {#                                    <option value="BW">Botswana</option>#}
                    {#                                    <option value="BV">Bouvet Island</option>#}
                    {#                                    <option value="BR">Brazil</option>#}
                    {#                                    <option value="IO">British Indian Ocean Territory</option>#}
                    {#                                    <option value="BN">Brunei Darussalam</option>#}
                    {#                                    <option value="BG">Bulgaria</option>#}
                    {#                                    <option value="BF">Burkina Faso</option>#}
                    {#                                    <option value="BI">Burundi</option>#}
                    {#                                    <option value="CV">Cabo Verde</option>#}
                    {#                                    <option value="KH">Cambodia</option>#}
                    {#                                    <option value="CM">Cameroon</option>#}
                    {#                                    <option value="CA">Canada</option>#}
                    {#                                    <option value="KY">Cayman Islands</option>#}
                    {#                                    <option value="CF">Central African Republic</option>#}
                    {#                                    <option value="TD">Chad</option>#}
                    {#                                    <option value="CL">Chile</option>#}
                    {#                                    <option value="CN">China</option>#}
                    {#                                    <option value="CX">Christmas Island</option>#}
                    {#                                    <option value="CC">Cocos (Keeling) Islands</option>#}
                    {#                                    <option value="CO">Colombia</option>#}
                    {#                                    <option value="KM">Comoros</option>#}
                    {#                                    <option value="CG">Congo</option>#}
                    {#                                    <option value="CD">Congo, The Democratic Republic of the</option>#}
                    {#                                    <option value="CK">Cook Islands</option>#}
                    {#                                    <option value="CR">Costa Rica</option>#}
                    {#                                    <option value="HR">Croatia</option>#}
                    {#                                    <option value="CU">Cuba</option>#}
                    {#                                    <option value="CW">Curaçao</option>#}
                    {#                                    <option value="CY">Cyprus</option>#}
                    {#                                    <option value="CZ">Czechia</option>#}
                    {#                                    <option value="CI">Côte d'Ivoire</option>#}
                    {#                                    <option value="DK">Denmark</option>#}
                    {#                                    <option value="DJ">Djibouti</option>#}
                    {#                                    <option value="DM">Dominica</option>#}
                    {#                                    <option value="DO">Dominican Republic</option>#}
                    {#                                    <option value="EC">Ecuador</option>#}
                    {#                                    <option value="EG">Egypt</option>#}
                    {#                                    <option value="SV">El Salvador</option>#}
                    {#                                    <option value="GQ">Equatorial Guinea</option>#}
                    {#                                    <option value="ER">Eritrea</option>#}
                    {#                                    <option value="EE">Estonia</option>#}
                    {#                                    <option value="ET">Ethiopia</option>#}
                    {#                                    <option value="FK">Falkland Islands (Malvinas)</option>#}
                    {#                                    <option value="FO">Faroe Islands</option>#}
                    {#                                    <option value="FJ">Fiji</option>#}
                    {#                                    <option value="FI">Finland</option>#}
                    {#                                    <option value="FR">France</option>#}
                    {#                                    <option value="GF">French Guiana</option>#}
                    {#                                    <option value="PF">French Polynesia</option>#}
                    {#                                    <option value="TF">French Southern Territories</option>#}
                    {#                                    <option value="GA">Gabon</option>#}
                    {#                                    <option value="GM">Gambia</option>#}
                    {#                                    <option value="GE">Georgia</option>#}
                    {#                                    <option value="DE">Germany</option>#}
                    {#                                    <option value="GH">Ghana</option>#}
                    {#                                    <option value="GI">Gibraltar</option>#}
                    {#                                    <option value="GR">Greece</option>#}
                    {#                                    <option value="GL">Greenland</option>#}
                    {#                                    <option value="GD">Grenada</option>#}
                    {#                                    <option value="GP">Guadeloupe</option>#}
                    {#                                    <option value="GU">Guam</option>#}
                    {#                                    <option value="GT">Guatemala</option>#}
                    {#                                    <option value="GG">Guernsey</option>#}
                    {#                                    <option value="GN">Guinea</option>#}
                    {#                                    <option value="GW">Guinea-Bissau</option>#}
                    {#                                    <option value="GY">Guyana</option>#}
                    {#                                    <option value="HT">Haiti</option>#}
                    {#                                    <option value="HM">Heard Island and McDonald Islands</option>#}
                    {#                                    <option value="VA">Holy See (Vatican City State)</option>#}
                    {#                                    <option value="HN">Honduras</option>#}
                    {#                                    <option value="HK">Hong Kong</option>#}
                    {#                                    <option value="HU">Hungary</option>#}
                    {#                                    <option value="IS">Iceland</option>#}
                    {#                                    #}
                    {#                                    <option value="ID">Indonesia</option>#}
                    {#                                    <option value="IR">Iran, Islamic Republic of</option>#}
                    {#                                    <option value="IQ">Iraq</option>#}
                    {#                                    <option value="IE">Ireland</option>#}
                    {#                                    <option value="IM">Isle of Man</option>#}
                    {#                                    <option value="IL">Israel</option>#}
                    {#                                    <option value="IT">Italy</option>#}
                    {#                                    <option value="JM">Jamaica</option>#}
                    {#                                    <option value="JP">Japan</option>#}
                    {#                                    <option value="JE">Jersey</option>#}
                    {#                                    <option value="JO">Jordan</option>#}
                    {#                                    <option value="KZ">Kazakhstan</option>#}
                    {#                                    <option value="KE">Kenya</option>#}
                    {#                                    <option value="KI">Kiribati</option>#}
                    {#                                    <option value="KP">Korea, Democratic People's Republic of</option>#}
                    {#                                    <option value="KR">Korea, Republic of</option>#}
                    {#                                    <option value="KW">Kuwait</option>#}
                    {#                                    <option value="KG">Kyrgyzstan</option>#}
                    {#                                    <option value="LA">Lao People's Democratic Republic</option>#}
                    {#                                    <option value="LV">Latvia</option>#}
                    {#                                    <option value="LB">Lebanon</option>#}
                    {#                                    <option value="LS">Lesotho</option>#}
                    {#                                    <option value="LR">Liberia</option>#}
                    {#                                    <option value="LY">Libya</option>#}
                    {#                                    <option value="LI">Liechtenstein</option>#}
                    {#                                    <option value="LT">Lithuania</option>#}
                    {#                                    <option value="LU">Luxembourg</option>#}
                    {#                                    <option value="MO">Macao</option>#}
                    {#                                    <option value="MK">Macedonia, Republic of</option>#}
                    {#                                    <option value="MG">Madagascar</option>#}
                    {#                                    <option value="MW">Malawi</option>#}
                    {#                                    <option value="MY">Malaysia</option>#}
                    {#                                    <option value="MV">Maldives</option>#}
                    {#                                    <option value="ML">Mali</option>#}
                    {#                                    <option value="MT">Malta</option>#}
                    {#                                    <option value="MH">Marshall Islands</option>#}
                    {#                                    <option value="MQ">Martinique</option>#}
                    {#                                    <option value="MR">Mauritania</option>#}
                    {#                                    <option value="MU">Mauritius</option>#}
                    {#                                    <option value="YT">Mayotte</option>#}
                    {#                                    <option value="MX">Mexico</option>#}
                    {#                                    <option value="FM">Micronesia, Federated States of</option>#}
                    {#                                    <option value="MD">Moldova, Republic of</option>#}
                    {#                                    <option value="MC">Monaco</option>#}
                    {#                                    <option value="MN">Mongolia</option>#}
                    {#                                    <option value="ME">Montenegro</option>#}
                    {#                                    <option value="MS">Montserrat</option>#}
                    {#                                    <option value="MA">Morocco</option>#}
                    {#                                    <option value="MZ">Mozambique</option>#}
                    {#                                    <option value="MM">Myanmar</option>#}
                    {#                                    <option value="NA">Namibia</option>#}
                    {#                                    <option value="NR">Nauru</option>#}
                    {#                                    <option value="NP">Nepal</option>#}
                    {#                                    <option value="NL">Netherlands</option>#}
                    {#                                    <option value="NC">New Caledonia</option>#}
                    {#                                    <option value="NZ">New Zealand</option>#}
                    {#                                    <option value="NI">Nicaragua</option>#}
                    {#                                    <option value="NE">Niger</option>#}
                    {#                                    <option value="NG">Nigeria</option>#}
                    {#                                    <option value="NU">Niue</option>#}
                    {#                                    <option value="NF">Norfolk Island</option>#}
                    {#                                    <option value="MP">Northern Mariana Islands</option>#}
                    {#                                    <option value="NO">Norway</option>#}
                    {#                                    <option value="OM">Oman</option>#}
                    {#                                    <option value="PK">Pakistan</option>#}
                    {#                                    <option value="PW">Palau</option>#}
                    {#                                    <option value="PS">Palestine, State of</option>#}
                    {#                                    <option value="PA">Panama</option>#}
                    {#                                    <option value="PG">Papua New Guinea</option>#}
                    {#                                    <option value="PY">Paraguay</option>#}
                    {#                                    <option value="PE">Peru</option>#}
                    {#                                    <option value="PH">Philippines</option>#}
                    {#                                    <option value="PN">Pitcairn</option>#}
                    {#                                    <option value="PL">Poland</option>#}
                    {#                                    <option value="PT">Portugal</option>#}
                    {#                                    <option value="PR">Puerto Rico</option>#}
                    {#                                    <option value="QA">Qatar</option>#}
                    {#                                    <option value="RO">Romania</option>#}
                    {#                                    <option value="RU">Russian Federation</option>#}
                    {#                                    <option value="RW">Rwanda</option>#}
                    {#                                    <option value="RE">Réunion</option>#}
                    {#                                    <option value="BL">Saint Barthélemy</option>#}
                    {#                                    <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>#}
                    {#                                    <option value="KN">Saint Kitts and Nevis</option>#}
                    {#                                    <option value="LC">Saint Lucia</option>#}
                    {#                                    <option value="MF">Saint Martin (French part)</option>#}
                    {#                                    <option value="PM">Saint Pierre and Miquelon</option>#}
                    {#                                    <option value="VC">Saint Vincent and the Grenadines</option>#}
                    {#                                    <option value="WS">Samoa</option>#}
                    {#                                    <option value="SM">San Marino</option>#}
                    {#                                    <option value="ST">Sao Tome and Principe</option>#}
                    {#                                    <option value="SA">Saudi Arabia</option>#}
                    {#                                    <option value="SN">Senegal</option>#}
                    {#                                    <option value="RS">Serbia</option>#}
                    {#                                    <option value="SC">Seychelles</option>#}
                    {#                                    <option value="SL">Sierra Leone</option>#}
                    {#                                    <option value="SG">Singapore</option>#}
                    {#                                    <option value="SX">Sint Maarten (Dutch part)</option>#}
                    {#                                    <option value="SK">Slovakia</option>#}
                    {#                                    <option value="SI">Slovenia</option>#}
                    {#                                    <option value="SB">Solomon Islands</option>#}
                    {#                                    <option value="SO">Somalia</option>#}
                    {#                                    <option value="ZA">South Africa</option>#}
                    {#                                    <option value="GS">South Georgia and the South Sandwich Islands</option>#}
                    {#                                    <option value="SS">South Sudan</option>#}
                    {#                                    <option value="ES">Spain</option>#}
                    {#                                    <option value="LK">Sri Lanka</option>#}
                    {#                                    <option value="SD">Sudan</option>#}
                    {#                                    <option value="SR">Suriname</option>#}
                    {#                                    <option value="SJ">Svalbard and Jan Mayen</option>#}
                    {#                                    <option value="SZ">Swaziland</option>#}
                                                            <option value="SE">Sweden</option>
                                                            <option value="CH">Switzerland</option>
                    {#                                    <option value="SY">Syrian Arab Republic</option>#}
                    {#                                    <option value="TW">Taiwan, Province of China</option>#}
                    {#                                    <option value="TJ">Tajikistan</option>#}
                    {#                                    <option value="TZ">Tanzania, United Republic of</option>#}
                    {#                                    <option value="TH">Thailand</option>#}
                    {#                                    <option value="TL">Timor-Leste</option>#}
                    {#                                    <option value="TG">Togo</option>#}
                    {#                                    <option value="TK">Tokelau</option>#}
                    {#                                    <option value="TO">Tonga</option>#}
                    {#                                    <option value="TT">Trinidad and Tobago</option>#}
                    {#                                    <option value="TN">Tunisia</option>#}
                    {#                                    <option value="TR">Turkey</option>#}
                    {#                                    <option value="TM">Turkmenistan</option>#}
                    {#                                    <option value="TC">Turks and Caicos Islands</option>#}
                    {#                                    <option value="TV">Tuvalu</option>#}
                    {#                                    <option value="UG">Uganda</option>#}
                    {#                                    <option value="UA">Ukraine</option>#}
                    {#                                    <option value="AE">United Arab Emirates</option>#}
                                                            <option value="GB">United Kingdom</option>
                                                            <option value="US">United States</option>
                    {#                                    <option value="UM">United States Minor Outlying Islands</option>#}
                    {#                                    <option value="UY">Uruguay</option>#}
                    {#                                    <option value="UZ">Uzbekistan</option>#}
                    {#                                    <option value="VU">Vanuatu</option>#}
                    {#                                    <option value="VE">Venezuela, Bolivarian Republic of</option>#}
                    {#                                    <option value="VN">Viet Nam</option>#}
                    {#                                    <option value="VG">Virgin Islands, British</option>#}
                    {#                                    <option value="VI">Virgin Islands, U.S.</option>#}
                    {#                                    <option value="WF">Wallis and Futuna</option>#}
                    {#                                    <option value="EH">Western Sahara</option>#}
                    {#                                    <option value="YE">Yemen</option>#}
                    {#                                    <option value="ZM">Zambia</option>#}
                    {#                                    <option value="ZW">Zimbabwe</option>#}
                    {#                                    <option value="AX">Åland Islands</option>#}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="span1"></div>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="row">
                                                        <input class="input-right" placeholder="CITY" id="id_state" maxlength="255" name="state" type="text" required/>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="form-group">
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="row">
                                                        <input class="input-left" id="id_postcode" placeholder="ZIP CODE" maxlength="64" name="postcode" type="text" required/>
                                                    </div>
                                                </div>
                                                <div class="span1"></div>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="row">
                                                        <input class="input-right" placeholder="CONTACT" id="id_phone_number" maxlength="10" name="phone_number" type="text" required />
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <button type="submit" class="save pull-right"><a href="/payment/payment_page">SAVE & CONTINUE</a></button>
                                                    </div>
                                                </div>
                                                </div>
                                            </form>
									</div>
								</div>
                                <p class="new-text1">Delivery dates provided by us are estimates only.</p>
                                <p class="new-text1">Customers ordering outside of India will be charged estimated custom fees.</p>
                                <p class="new-text1">International shipment may be subject to additional import taxes, customs duties and fees, which are levied
                                    once a shipment reaches the destination country.</p>

							</div>

{#							<div class="panel panel-default">#}
{#								<div class="panel-heading" role="tab" id="headingTwo">#}
{#									<h4 class="panel-title">#}
{#										<a href="#">#}
{#											<i class="more-less glyphicon glyphicon-plus"></i>#}
{#											2. DELIVERY#}
{#										</a>#}
{#									</h4>#}
{#								</div>#}
{#							</div>#}
{##}
{#							<div class="panel panel-default">#}
{#								<div class="panel-heading" role="tab" id="headingThree">#}
{#									<h4 class="panel-title">#}
{#										<a href="#">#}
{#											<i class="more-less glyphicon glyphicon-plus"></i>#}
{#											3. ADDRESS DETAILS GIVEN#}
{#										</a>#}
{#									</h4>#}
{#								</div>#}
{#							</div>#}
							<div class="panel panel-default bb">
								<div class="panel-heading" role="tab" id="headingThree">
									<h4 class="panel-title">
										<a href="#">
											<i class="more-less glyphicon glyphicon-plus"></i>
											2. PAYMENT
										</a>
									</h4>
								</div>
							</div>

							<div class="panel panel-default bb">
								<div class="panel-heading" role="tab" id="headingThree">
									<h4 class="panel-title">
										<a href="#">
											<i class="more-less glyphicon glyphicon-plus"></i>
											3. CONFIRMATION
										</a>
									</h4>
								</div>
							</div>

						</div>
					</div>

					<div class="col-sm-1">
					</div>

					<div class="col-sm-5 basket">
                        <p class="headding">MY ORDER</p>
                        <div class="col-sm-12">
                            {% for line in request.basket.all_lines %}
                                <div class="row equalh bb">
                                    <div class="col-sm-3 col-xs-3">
                                        <div class="row">
                                            {% with image=line.product.primary_image %}
                                                <a href="{{ line.product.get_absolute_url }}">
                                                    <img src="{{ image.original.url }}" alt="{{ line.product.get_title }}">
                                                </a>
                                            {% endwith %}
                                        </div>
                                    </div>
                                    <div class="col-sm-9 col-xs-9 vcenter2">
                                        <h4 class="name"><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h4>
                                        <p class="qty">QTY:<span>{{ line.quantity }}</span></p>
                                        <h4 class="basket-price">PRICE:<br><span>{{ line.unit_price_excl_tax|multiply:request.session.currency_factor|floatformat:0|currency:request.session.currency_code }}</span></h4>
{#                                        <button class="remove-item">REMOVE</button>#}
                                    </div>
                                    <hr>
                                </div>
                            {% endfor %}
                            <div class="total">
                                {% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %}
                                    <div class="row bb">
                                        <p style="padding:0px;margin:0px">SUBTOTAL
                                            <span class="pull-right">
                                                {% if basket.is_tax_known and not show_tax_separately %}
                                                    {{ basket.total_incl_tax_excl_discounts  }}
                                                {% else %}
                                                    {{ basket.total_excl_tax_excl_discounts  }}
                                                {% endif %}
                                            </span>
                                        </p>
                                    </div>
                                    {% if offer_discounts or voucher_discounts %}
                                        {% for discount in offer_discounts %}
                                            {% if discount.description %}
                                                <div class="row bb">
                                                    <p style="padding:0px;margin:0px">DISCOUNT({{ discount.description }})
                                                        <span class="pull-right">
                                                            -{{ discount.discount  }}
                                                        </span>
                                                    </p>
                                                </div>
                                            {% endif %}
                                        {% endfor %}

                                        {% if voucher_discounts %}
                                            {% for discount in voucher_discounts %}
                                                <div class="row bb">
                                                    <p style="padding:0px;margin:0px">COUPON({{ discount.voucher.name }} ({{ discount.voucher.code }}))
                                                        <span class="pull-right">
                                                            -{{ discount.discount  }}
                                                        </span>
                                                    </p>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endwith %}
                                {% if not shipping_method.is_discounted %}
                                    <div class="row bb">
                                        <p style="padding:0px;margin:0px">SHIPING({{ shipping_method.name }})
                                            <span class="pull-right">
                                                {% if not show_tax_separately and shipping_charge.is_tax_known %}
                                                    {{ shipping_charge.incl_tax  }}
                                                {% else %}
                                                    {{ shipping_charge.excl_tax  }}
                                                {% endif %}
                                            </span>
                                        </p>
                                    </div>
                                {% else %}
                                    {% shipping_charge_discount shipping_method basket as shipping_discount %}
                                    {% shipping_charge_excl_discount shipping_method basket as shipping_charge_excl_discount %}
                                    <div class="row bb">
                                        <p style="padding:0px;margin:0px">SHIIPING({{ shipping_method.name }})
                                            <span class="pull-right">
                                                {% if not show_tax_separately and shipping_charge.is_tax_known %}
                                                    {{ shipping_charge.incl_tax  }}
                                                {% else %}
                                                    {{ shipping_charge.excl_tax  }}
                                                {% endif %}
                                            </span>
                                        </p>
                                    </div>
                                {% endif %}
                                {% block tax_totals %}
                                    {% if show_tax_separately %}
                                        <div class="row bb">
                                            <p style="padding:0px;margin:0px">TAXES (On Products)
                                                <span class="pull-right">
                                                    {{ basket.total_tax  }}
                                                </span>
                                            </p>
                                        </div>
                                        <div class="row bb">
                                            <p style="padding:0px;margin:0px">TAXES (On Shipping)
                                                <span class="pull-right">
                                                    {{ shipping_charge.tax  }}
                                                </span>
                                            </p>
                                        </div>
                                    {% endif %}
                                {% endblock %}
                                <div class="row bb">
                                    {% if request.basket.is_tax_known %}
                                        <p style="padding:0px;margin:0px">TOTAL<span class="pull-right">{{ request.basket.total_incl_tax  }}</span></p>
                                    {% else %}
                                            <p style="padding:0px;margin:0px">TOTAL<span class="pull-right">{{ request.basket.total_excl_tax  }}</span></p>
                                    {% endif %}

                                </div>
                            </div>
                        <br><br><br><br>
                        </div>

                        <p class="new-text1">Please note, the final purchase price may change when you select your delivery address</p>
                        <p class="new-text1">The items in your shopping cart are not reserved and may be purchased by other customers.</p>
                    </div>
                </div>
            </div>
		</main><!-- Main of the Page end here -->
    {% endblock %}
{% endblock shipping_address %}

{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}
