{% extends "checkout/layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles custom_tags %}

{% block title %}
    {% blocktrans with number=order.number %}
        Order {{ number }}: confirmation
    {% endblocktrans %} | {{ block.super }}
{% endblock title %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=5 %}
{% endblock %}

{% block checkout_title %}
    {% blocktrans with number=order.number %}
        Order {{ number }}: confirmation
    {% endblocktrans %}
{% endblock %}

{% block content %}

    <div class="container" id="thank_you">
        <h2 class="text-center">Thank you for placing order with us.</h2>
        <p class="lead">
            {% blocktrans with number=order.number %}
            Your order has been placed and a confirmation email has been sent - your order number is
            <strong>{{ number }}</strong>.
            {% endblocktrans %}
        </p>
        <div class="col-sm-8 col-sm-offset-2 basket">
            <div class="col-sm-12">
                {% for line in order.lines.all %}
                    <div class="col-sm-6">
                        <div class="row equalh bb">
                            <div class="col-sm-3 col-xs-3">
                                <div class="row">
                                    {% with image=line.product.primary_image %}
                                        <a href="{{ line.product.get_absolute_url }}"><img src="{{ image.original.url }}" alt="{{ product.get_title }}"></a>
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="col-sm-9 col-xs-9 vcenter2">
                                <h4 class="name"><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h4>
                                <h4 class="qty">QTY:<span>{{ line.quantity }}</span></h4>
                                <h4 class="basket-price">PRICE:<br><span>
                                    {% if show_tax_separately %}
                                        {{ line.line_price_before_discounts_excl_tax|currency:order.currency }}
                                    {% else %}
                                        {{ line.line_price_before_discounts_incl_tax|currency:order.currency }}
                                    {% endif %}
                                </span></h4>
                            </div>
                            <hr>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="col-sm-12">
                <div class="col-sm-3">
                    Address:
                </div>
                <div class="col-sm-9">
                    {% for field in order.shipping_address.active_address_fields %}
                        {{ field }}<br/>
                    {% endfor %}
                </div>
                <hr>
            </div>
        </div>
    </div>

{% endblock content %}

{% block tracking %}
    {% include "partials/google_analytics_transaction.html" %}
{% endblock %}
