{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans 'Login/Register/Guest' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
{#    <ul class="breadcrumb">#}
{#        <li>#}
{#            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>#}
{#        </li>#}
{#        <li class="active">{% trans 'Login or register' %}</li>#}
{#    </ul>#}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <main id="mt-main">
        <div class="container checkout">
            <div class="row">
                <a class="col-sm-12" href="/">
                    <div class="mt-textbox1 equalh hidden-xs">
                        <img src="{% static "markatix/images/new/arrow.png" %}" style="box-shadow: 5px 4px 5px #888888;width:3%;height:3%;float:left" ><h6 style="color:#ac997d;margin-left:10px;" class="vcenter1">BACK TO SHOP</h6>
                    </div><!-- mt-textbox end here -->
                </a>
            </div>
            <div class="row equalh">
                <div class="col-sm-4 register_form">
                    <form id="register_form" action="{{ request.get_full_path }}" method="post" class="well">
                        <h2>{% trans 'REGISTER' %}</h2>
                        {% csrf_token %}
                        {% include "partials/form_fields.html" with form=registration_form %}
                        <button name="registration_submit" type="submit" value="Register" class="btn btn-lg btn-primary" data-loading-text="{% trans 'REGISTERING...' %}">{% trans 'REGISTER' %}</button>
                        <p class="text-center" style="width:90%;margin-top:10px;"><a style="text-decoration: underline;" href="{% url 'password-reset' %}">{% trans "FORGOT PASSWORD ?" %}</a></p>
                    </form>
                </div>
                <div class="col-sm-4 login_form">
                    <form id="login_form" action="{{ request.get_full_path }}" method="post" class="well" >
                        <h2>{% trans 'LOG IN' %}</h2>
                        {% csrf_token %}
                        {% include "partials/form_fields.html" with form=login_form %}
                        <button name="login_submit" type="submit" value="Log In" class="btn btn-lg btn-primary" data-loading-text="{% trans "Logging in..." %}">{% trans 'LOG IN' %}</button>
                        <p class="text-center" style="width:90%;margin-top:10px;"><a style="text-decoration: underline;" href="{% url 'password-reset' %}">{% trans "FORGOT PASSWORD ?" %}</a></p>
                    </form>

                </div>
                <div class="col-sm-4 guest_form">
                    <form id="guest_form" action="{{ request.get_full_path }}" method="post" class="well">
                        <h2>{% trans 'GUEST USER' %}</h2>
                        <imput type="email" placeholder="Email Id"></imput>
                        <button name="registration_submit" type="submit" value="Register" class="btn btn-lg btn-primary" data-loading-text="{% trans 'Checkout...' %}">{% trans 'CHECKOUT AS GUEST' %}</button>
                    </form>
                </div>
            </div>
            <div class="row" style="margin-top:50px;">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <a href="#" class="btn btn-lg facebook">Login with Facebook</a>
                    <a href="#" class="btn btn-lg facebook">Login with Google Plus</a>
                </div>
            </div>
        </div>
    </main>


{% endblock content %}
{% block extrastyles %}
    <style>
        .control-label
        {
            visibility: hidden;
            display: none;
        }
    </style>
{% endblock %}
{% block extrascripts %}
    <script>
        $(document).ready(function(){
            $('#id_registration-email').attr('placeholder','Email');
            $('#id_registration-password1').attr('placeholder','Password');
            $('#id_registration-password2').attr('placeholder','Confirm Password');
            $('#id_login-username').attr('placeholder','Username');
            $('#id_login-password').attr('placeholder','Password');
        });
    </script>
{% endblock %}
