{% load i18n %}
{% load currency_filters %}
{% load shipping_tags %}
{% load custom_tags %}
<h4 style="margin-bottom:0px">&nbsp;</h4>
   <div class="total">
      {% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %}
      <div class="row bb">
         <p style="color:#d9cfac;padding:3px 0px;margin:0px;border-bottom:1px solid #d9cfac;">SUBTOTAL
            <span class="pull-right">
            {% if basket.is_tax_known and not show_tax_separately %}
            {{ basket.total_incl_tax_excl_discounts|multiply:request.session.currency_factor|currency:request.session.currency_code}}
            {% else %}
            {{ basket.total_excl_tax_excl_discounts|multiply:request.session.currency_factor|currency:request.session.currency_code}}
            {% endif %}
            </span>
         </p>
      </div>
      {% if offer_discounts or voucher_discounts %}
      {% for discount in offer_discounts %}
      {% if discount.description %}
      <div class="row bb">
         <p style="color:#d9cfac;padding:3px 0px;margin:0px;border-bottom:1px solid #d9cfac;">DISCOUNT({{ discount.description }})
            <span class="pull-right">
            -{{ discount.discount|multiply:request.session.currency_factor|currency:request.session.currency_code}}
            </span>
         </p>
      </div>
      {% endif %}
      {% endfor %}
      {% if voucher_discounts %}
      {% for discount in voucher_discounts %}
      <div class="row bb">
         <p style="padding:3px 0px;margin:0px;border-bottom:1px solid #d9cfac;">COUPON({{ discount.voucher.name }} ({{ discount.voucher.code }}))
            <span class="pull-right">
            -{{ discount.discount|multiply:request.session.currency_factor|currency:request.session.currency_code}}
            </span>
         </p>
      </div>
      {% endfor %}
      {% endif %}
      {% endif %}
      {% endwith %}
      {% if not shipping_method.is_discounted %}
      <div class="row bb">
         <p style="color:#d9cfac !important;padding:3px 0px;margin:0px;border-bottom:1px solid #d9cfac;">SHIPPING
            <span class="pull-right">
            {% if not show_tax_separately and shipping_charge.is_tax_known %}
            {{ shipping_charge.incl_tax|multiply:request.session.currency_factor|currency:request.session.currency_code}}
            {% else %}
            {{ shipping_charge.excl_tax|multiply:request.session.currency_factor|currency:request.session.currency_code}}
            {% endif %}
            </span>
         </p>
      </div>
      {% else %}
      {% shipping_charge_discount shipping_method basket as shipping_discount %}
      {% shipping_charge_excl_discount shipping_method basket as shipping_charge_excl_discount %}
      <div class="row bb">
         <p style="color:#d9cfac;padding:3px 0px;margin:0px;border-bottom:1px solid #d9cfac;">SHIPPING
            <span class="pull-right">
            {% if not show_tax_separately and shipping_charge.is_tax_known %}
            {{ shipping_charge.incl_tax|multiply:request.session.currency_factor|currency:request.session.currency_code}}
            {% else %}
            {{ shipping_charge.excl_tax|multiply:request.session.currency_factor|currency:request.session.currency_code}}
            {% endif %}
            </span>
         </p>
      </div>
      {% endif %}
      {% block tax_totals %}
      {% if show_tax_separately %}
      <div class="row bb">
         <p style="color:#d9cfac;padding:3px 0px;margin:0px;border-bottom:1px solid #d9cfac;">TAXES (On Products)
            <span class="pull-right">
            {{ basket.total_tax|multiply:request.session.currency_factor|currency:request.session.currency_code}}
            </span>
         </p>
      </div>
      <div class="row bb">
         <p style="color:#d9cfac;padding:3px 0px;margin:0px;border-bottom:1px solid #d9cfac;">TAXES (On Shipping)
            <span class="pull-right">
            {{ shipping_charge.tax|multiply:request.session.currency_factor|currency:request.session.currency_code}}
            </span>
         </p>
      </div>
      {% endif %}
      {% endblock %}
      <div class="row bb">
         {% if request.basket.is_tax_known %}
         <p style="color:#d9cfac;padding:3px 0px;margin:0px;border-bottom:1px solid #d9cfac;">TOTAL<span class="pull-right">{{ request.basket.total_incl_tax|multiply:request.session.currency_factor|currency:request.session.currency_code}}</span></p>
         {% else %}
         <p style="color:#d9cfac;padding:3px 0px;margin:0px;border-bottom:1px solid #d9cfac;">TOTAL<span class="pull-right">{{ request.basket.total_excl_tax|multiply:request.session.currency_factor|currency:request.session.currency_code}}</span></p>
         {% endif %}
      </div>
   </div>
   <br><br><br><br>
