{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles debug_tags %}
{% block title %}Journal | {{ shop_name }}{% endblock %}

{% block content %}

    <main id="mt-main">
        <section class="equalh journel wow slideInUp" data-wow-delay="0.6s">
            <div class="col-sm-8">
                <div class="row">
                    <a href="#"  class="hovereffect">
                        <img src="{{ journal.images.0.image.url }}"/>
                        <div class="overlay">
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-sm-4 vend2">
                <div class="texts">
                    <h3 class="title">JANUARY '17</h3>
                    <h1 class="heading">{{ journal.title }}</h1>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="col-sm-12">
                <div class="journel-img-slider">
                    <h4>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </h4>
                </div>
                <div class="text-center wow slideInUp" data-wow-delay="0.4s" data-wow-duration="2s">

                    <div class="col-xs-12">
                        <div class="journal-img-slider">
                            {% for image in journal.images %}
                                <div class="slide">
                                <!-- mt product1 center start here -->
                                    <div class="mt-product1">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <img src="{{ image.image.url }}" style="width:90%; margin:auto;border:0px;outline:0;">
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="journal-content">
                        {{ journal.content|safe }}
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="journal-video-slider">
                    {% for urls in journal.youtube_urls %}
                        <div class="slide">
                        <!-- mt product1 center start here -->
                            <div class="mt-product1 journal-box">
                                <div class="box">
                                    <div class="b1">
                                        <div class="b2">
                                            <iframe src="https://www.youtube.com/embed/{{urls.url}}" style="width:90%; margin:auto 5%;border:0px;outline:0;"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- mt product1 center end here -->
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    <br><br>
    </main>
{% endblock content %}