{% load thumbnail %}
{% load i18n %}
{% load staticfiles debug_tags %}

{% with all_images=product.images.all %}
    {# use length rather then count as the images get queried anyways #}

    {% if all_images|length > 1 %}

        <div class="slider">
            <br>
            <!-- Product Slider of the Page -->
            {% block breadcrumbs %}
            <ul class="list-unstyled breadcrumbs">
                <li>
                    <a href="{{ homepage_url }}">{% trans "Home" %}</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                {% with category=product.categories.all.0 %}
                    {% for c in category.get_ancestors_and_self %}
                    <li>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    {% endfor %}
{#                    <li class="active">{{ product.title }}</li>#}
                {% endwith %}
            </ul>
            {% endblock %}

            <div class="product-slider">
                {% for image in all_images %}
                    <div class="slide">
                        <a class="fancybox" style="background-color: #FFF" rel="ligthbox" href="{{ image.original.url }}">
                            <img style="border-color: transparent" src="{{ image.original.url }}" alt="{{ product.get_title }}" />
                        </a>
                    </div>
                {% endfor %}
            </div>
            <!-- Product Slider of the Page end -->
            <!-- Pagg Slider of the Page -->
            <ul class="list-unstyled slick-slider pagg-slider">
                {% for image in all_images %}
                    <li><div class="img"><img src="{{ image.original.url }}" alt="{{ product.get_title }}"></div></li>
                {% endfor %}
            </ul>
            <!-- Pagg Slider of the Page end -->
        </div>
    {% else %}

{#        <div class="slider">#}
{#            <!-- Product Slider of the Page -->#}
{#            <ul class="list-unstyled breadcrumbs">#}
{#                <li><a href="#">Saree <i class="fa fa-angle-right"></i></a></li>#}
{#                <li>Banarsi Saree</li>#}
{#            </ul>#}
{#            <div class="product-slider">#}
{#                {% for image in all_images %}#}
{#                    <div class="slide">#}
{#                        <img src="{{ image.original.url }}" alt="{{ product.get_title }}" />#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#            <!-- Product Slider of the Page end -->#}
{#            <!-- Pagg Slider of the Page -->#}
{#            <ul class="list-unstyled slick-slider pagg-slider">#}
{#                {% for image in all_images %}#}
{#                    <li><div class="img"><img src="{{ image.original.url }}" alt="{{ product.get_title }}"></div></li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#            <!-- Pagg Slider of the Page end -->#}
{#        </div>#}

        {# Only one image to show #}
        <div id="product_gallery" class="carousel">
            <div class="thumbnail">
                <div class="carousel-inner">
                    <div class="item active">
                    {% with image=product.primary_image %}
                        {% thumbnail image.original "440x400" upscale=False as thumb %}
                            <img src="{{ thumb.url }}" alt="{{ product.get_title }}" />
                        {% endthumbnail %}
                    {% endwith %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endwith %}
