{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}

{% block product %}


    <a href="{{ product.get_absolute_url }}"  class="hovereffect">
        {% block product_image %}
            {% with image=product.primary_image %}
                <img src="{{ image.original.url }}" alt="{{ product.get_title }}">
            {% endwith %}
        {% endblock %}
        <div class="overlay">
        </div>
    </a>
    <a class="thumbnail_pro" href="#">
        <h3><a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">{{ product.get_title|truncatewords:4 }}</a></h3>
        <form id="add_to_wishlist_form" action="{% url 'customer:wishlists-add-product' product_pk=product.pk %}" method="post" class="btn-wishlist">
            {% csrf_token %}
            <button type="submit"><span class="pull-right"><i class="fa fa-heart-o"></i></span></button>
        </form>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p class="price">{% include "catalogue/partials/stock_record.html" %}</p>
            </div>
        </div>
    </a>




{#    <article class="product_pod">#}
{#        {% block product_image %}#}
{#            <div class="image_container">#}
{#                {% with image=product.primary_image %}#}
{##}
{#                    <a href="{{ product.get_absolute_url }}"><img src="{{ image.original.url }}" alt="{{ product.get_title }}" class="thumbnail"></a>#}
{##}
{#                {% endwith %}#}
{#            </div>#}
{#        {% endblock %}#}

{#        {% block product_review %}#}
{#            {% iffeature "reviews" %}#}
{#                <p class="star-rating {{ product.rating|as_stars }}">#}
{#                    <i class="icon-star"></i>#}
{#                    <i class="icon-star"></i>#}
{#                    <i class="icon-star"></i>#}
{#                    <i class="icon-star"></i>#}
{#                    <i class="icon-star"></i>#}
{#                </p>#}
{#            {% endiffeature %}#}
{#        {% endblock %}#}

{#        {% block product_title %}#}
{#            <h3><a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">{{ product.get_title|truncatewords:4 }}</a></h3>#}
{#        {% endblock %}#}

{#        {% block product_price %}#}
{#            <div class="product_price">#}
{#                {% include "catalogue/partials/stock_record.html" %}#}
{#                {% if not product.is_parent %}#}
{#                    {% include "catalogue/partials/add_to_basket_form_compact.html" %}#}
{#                {% endif %}#}
{#            </div>#}
{#        {% endblock %}#}
{#    </article>#}
{% endblock %}
