{% load reviews_tags %}
{% wishlist_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}
{% load debug_tags %}

{% block product %}


    <a href="{{ product.get_absolute_url }}"  class="hovereffect">
        {% block product_image %}
            {% with image=product.primary_image %}
                <img src="{{ image.original.url }}" alt="{{ product.get_title }}">
            {% endwith %}
        {% endblock %}
        <div class="overlay">
            <p style="margin-top:60%;font-size:40px;color:#ABAE8F;font-weight:600">+</p>
        </div>
    </a>

    <div>
        <h3 style="width:88%;float: left;margin-top:10px;font-size:18px;"><a style="text-decoration: none;color:#ac997d;" href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">{{ product.get_title }}</a></h3>

        {% if user.is_authenticated %}
            {% if product.wishlists_lines.all %}
                {% for pro_wish in product.wishlists_lines.all %}
                    <form action="{% url 'customer:wishlists-remove-product' key=pro_wish.wishlist.key product_pk=product.id %}" method="post" style="width:12%;float: left;text-align:right;">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="/catalogue" />
                        <button type="submit" style="text-align:right;padding:5px 2px;outline:0;background-color:transparent;border:0px;font-size:18px"><i style="color:#f6b220"  class="fa fa-heart"></i></button>
                    </form>
                {% endfor %}
            {% else %}
                <form id="add_to_wishlist_form" action="{% url 'customer:wishlists-add-product' product_pk=product.pk %}" method="post" style="width:12%;float: left;text-align:right;">
                    {% csrf_token %}
                    <button type="submit" style="outline:0;padding:5px 2px;text-align:right;background-color:transparent;border:0px;font-size:18px"><i style="color:#f6b220" class="fa fa-heart-o"></i></button>
                </form>
            {% endif %}
        {% else %}
            <button style="outline:0;color:#f6b220;width:12%;padding:5px 2px;text-align:right;background-color:transparent;border:0px;font-size:18px"><i class="fa fa-heart-o"></i></button><br/>
        {% endif %}

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p class="price">{% include "catalogue/partials/stock_record.html" %}</p>
            </div>
        </div>
    </div>




{#    <article class="product_pod">#}
{#        {% block product_image %}#}
{#            <div class="image_container">#}
{#                {% with image=product.primary_image %}#}
{##}
{#                    <a href="{{ product.get_absolute_url }}"><img src="{{ image.original.url }}" alt="{{ product.get_title }}" class="thumbnail"></a>#}
{##}
{#                {% endwith %}#}
{#            </div>#}
{#        {% endblock %}#}

{#        {% block product_review %}#}
{#            {% iffeature "reviews" %}#}
{#                <p class="star-rating {{ product.rating|as_stars }}">#}
{#                    <i class="icon-star"></i>#}
{#                    <i class="icon-star"></i>#}
{#                    <i class="icon-star"></i>#}
{#                    <i class="icon-star"></i>#}
{#                    <i class="icon-star"></i>#}
{#                </p>#}
{#            {% endiffeature %}#}
{#        {% endblock %}#}

{#        {% block product_title %}#}
{#            <h3><a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">{{ product.get_title|truncatewords:4 }}</a></h3>#}
{#        {% endblock %}#}

{#        {% block product_price %}#}
{#            <div class="product_price">#}
{#                {% include "catalogue/partials/stock_record.html" %}#}
{#                {% if not product.is_parent %}#}
{#                    {% include "catalogue/partials/add_to_basket_form_compact.html" %}#}
{#                {% endif %}#}
{#            </div>#}
{#        {% endblock %}#}
{#    </article>#}
{% endblock %}

