{% load i18n %}
{% load staticfiles %}
<!-- footer of the Page -->
    <footer id="mt-footer" class="style1 wow slideInUp" data-wow-delay="0" data-wow-duration="2s">
        <!-- Footer Holder of the Page -->
        <div class="footer-holder">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div class="logo">
                            <a href="/"><img src="{% static "markatix/images/new/mt-logo.png"%}" alt="Ekaya"></a>
                        </div>
                        <ul class="list-inline" style="margin-left:5px;">
                            <li>
                                <a style="padding:0 5px;color:#7b674f;" href="https://www.instagram.com/ekayabanaras/"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a style="padding:0 5px;color:#7b674f;" href="https://www.facebook.com/ekayabanaras/"><i class="fa fa-facebook fa-1x"></i></a>
                            </li>
                            <li>
                                <a style="padding:0 5px;color:#7b674f;" href="https://twitter.com/ekayabanaras?lang=en"><i class="fa fa-twitter"></i></a>
                            </li>
                             <li>
                                <a style="padding:0 5px;color:#7b674f;" href="https://www.youtube.com/user/Ekaya2012"><i class="fa fa-youtube"></i></a>
                            </li>
                            <li>
                                <a style="padding:0 5px;color:#7b674f;" href="https://in.pinterest.com/ekayabanaras/pins/"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-7 col-sm-7 col-xs-12 text-right">
                        <div class="row">
                            <ul class="menu list-inline">
                                <li>
                                    <a href="/contact">CONTACT</a>
                                </li>

                                <li>
                                    <a href="/terms">TERMS AND CONDITIONS</a>
                                </li>

                                <li>
                                    <a href="/privacy">PRIVACY</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- footer of the Page end -->