{% load form_tags %}
{% load widget_tweaks %}
{% load debug_tags staticfiles %}

{% if field.is_hidden %}
    {{ field }}
    {% if field.name == 'quantity' %}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="pull-right"><img src="{% static "markatix/images/new/detail/arrow.png" %}" style="width:14px"></i>
                            FIT
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <p>{{product.attr.fit.option}}</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="pull-right"><img src="{% static "markatix/images/new/detail/arrow.png" %}" style="width:14px"></i>
                            COLOR
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p>{{product.attr.colour}}</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <i class="pull-right"><img src="{% static "markatix/images/new/detail/arrow.png" %}" style="width:14px"></i>
                            QUANTITY
                        </a>
                    </h4>
                </div>

                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <input id="id_quantity" type="number" value="1" name="quantity" min="1" max="{% if product.children.first %}{{ product.children.first.stockrecords.first.num_in_stock }}{% else %}{{ product.stockrecords.last.num_in_stock }}{% endif %}">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% else %}
    {% comment %}
        Make the field widget type available to templates so we can mark-up
        checkboxes differently to other widgets.
    {% endcomment %}
    {% annotate_form_field field %}


    {% block control_group %}
        {% if field.name == 'child_id' %}
            {% include 'catalogue/ikaya_variant.html' %}
        {% else %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">

                {% block label %}
                    {% if not nolabel and field.widget_type != 'CheckboxInput' %}
                        <label for="{{ field.auto_id }}" class="{% if style|default:"stacked" != 'stacked' %}col-sm-4{% endif%} control-label{% if field.field.required %} required{% endif %}">
                            {{ field.label|safe }}
                        </label>
                    {% endif %}
                {% endblock %}

                {% block controls %}
                    <div class="{% if style|default:"stacked" != 'stacked' %}col-sm-7{% endif %}">
                        {% block widget %}
                            {% if field.widget_type == 'CheckboxInput' %}
                                <label for="{{ field.auto_id }}" class="checkbox {% if field.field.required %}required{% endif %}">
                                    {{ field.label|safe }}
                                    {% render_field field class+="form-control" %}
                                </label>
                            {% else %}
                                {% render_field field class+="form-control" %}
                            {% endif %}
                        {% endblock %}

                        {% block errors %}
                            {% for error in field.errors %}
                                <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                            {% endfor %}
                        {% endblock %}

                        {% block help_text %}
                            {% if field.help_text %}
                                <span class='help-block'>
                                    {# We allow HTML within form help fields #}
                                    {{ field.help_text|safe }}
                                </span>
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}
{% endif %}