{% load i18n %}
{% load staticfiles %}
    <header id="mt-header" class="style4">
        <!-- mt bottom bar start here -->
        <div class="mt-bottom-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- mt logo start here -->
                        <div class="mt-logo"><a href="/"><img src="{% static "markatix/images/new/mt-logo.png" %}" alt="Ekaya"></a></div>
                        <!-- mt icon list start here -->
                        <ul class="mt-icon-list">
                            <li class="hidden-lg hidden-md">
                                <a href="#" class="bar-opener mobile-toggle">
                                    <span class="bar"></span>
                                    <span class="bar"></span>
                                    <span class="bar"></span>
                                </a>
                            </li>
                        </ul><!-- mt icon list end here -->
                        <!-- navigation start here -->
                        <nav id="nav">
                            <ul>
                                <li>
                                    <a href="/">HOME</a>
                                </li>
                                <li>
                                    <a href="/about">ABOUT</a>
                                </li>
                                <li>
                                    <a href="/catalogue">COLLECTION</a>
                                </li>
                                <li><a href="/journal">JOURNAL</a></li>

                                    {% if user.is_authenticated %}
                                        <li>
                                            <a class="drop-link" href="#">ACCOUNT</a>
                                            <div class="s-drop">
                                                <ul>
                                                    <li>
                                                        {% if num_unread_notifications > 0 %}
{#                                                          If user has new notifications - we change account link to go to inbox#}
                                                            <a href="{% url 'customer:notifications-inbox' %}">
                                                                <i class="icon-user"></i>
                                                                {% trans "Account" %}
                                                                <span class="label label-important">{{ num_unread_notifications }}</span>
                                                            </a>
                                                        {% else %}
                                                            <a href="{% url 'customer:summary' %}"><i class="icon-user"></i> {% trans "Account" %}</a>
                                                        {% endif %}
                                                    </li>
                                                    {% if user.is_staff or perms.partner.dashboard_access %}
                                                        <li><a href="{% url 'dashboard:index' %}"><i class="icon-list-ul"></i> {% trans "Dashboard" %}</a></li>
                                                    {% endif %}
                                                    <li><a id="logout_link" href="{% url 'customer:logout' %}"><i class="icon-signout"></i> {% trans "Logout" %}</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li><a id="login_link" href="{% url 'customer:login' %}"><i class="icon-signin"></i> {% trans "LOGIN" %}</a></li>
                                    {% endif %}
                                <li><a href="#">CONTACT</a></li>

                                <li><a href="#" class="icon-mg glyphicon glyphicon-menu-hamburger"></a></li>

                            </ul>
                        </nav>
                        <!-- mt icon list end here -->
                    </div>
                </div>
            </div>
        </div>
        <!-- mt bottom bar end here -->
        <span class="mt-side-over"></span>
    </header><!-- mt header style4 end here -->
    <div class="mt-search-popup">
        <div class="mt-holder">
            <a href="#" class="search-close"><span></span><span></span></a>
            <div class="mt-frame">
                <div class="container">
                    <div class="col-sm-6 text-left">
                            <p style="text-align:left;font-size:2.8em;border:0"><a href="/">HOME</a></p>
                            <p style="text-align:left;font-size:2.8em;border:0"><a href="/">ABOUT</a></p>
                            <p style="text-align:left;font-size:2.8em;border:0"><a href="/">COLLECTION</a></p>
                            <p style="text-align:left;font-size:2.8em;border:0"><a href="/">JOURNAL</a></p>

                        </div>

                    <div class="col-sm-6 text-right">
                            <p style="text-align:right"><a href="/">LOGIN</a></p>
                            <p style="text-align:right"><a href="/">CART</a></p>
                        </div>
                </div>
            </div>
        </div>
    </div><!-- mt search popup end here -->
